SRSN/.vs/
SRSN/SRSN.ClientApi/bin/
SRSN/SRSN.ClientApi/obj/
SRSN/SRSN.ClientView/bin/
SRSN/SRSN.ClientView/obj/
SRSN/SRSN.Service/obj/
SRSN/WebApplication1/obj/
SRSN/SRSN.DatabaseManager/bin/
SRSN/SRSN.DatabaseManager/obj/
SRSN/SRSN.Service/bin/
Unused/bin/
Unused/obj/
SRSN/SRSN.Client_View/obj/
