@page
@model SRSN.Client_View.Pages.Shared.CollectionModel
@{

    ViewData["Title"] = "Collection";
}

<div class="recipes-home-body inner-page">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-9">
                <div class="recipe-set">
                    <h2>Bộ sưu tập thịnh hành</h2>
                    <div class="recipe-listing listing-grid" id="recipe-listing-above">

                    </div>
                    <div class="recipe-listing listing-grid">


                        <!--recipe of the day-->
                        <div class="recipe-of-day" id="collection-of-day">
                            
                        </div>
                        <!--recipe of the day ends-->

                        <div class="banner-header text-center">
                            <a href="#">
                                <img src="~/recipepress/images//temp-images/header-banner.jpg" alt="banner">
                            </a>
                        </div>


                    </div>
                    <div class="recipe-listing listing-grid" id="recipe-listing-below">

                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <aside>
                    <div class="side-bar">
                        <!--recipes search widget-->
                        <div class="widget recipe-search">

                            <div class="category-list">
                                <!--<div class="list-inner">-->
                                <ul id="list-category-item"></ul>
                                <!--</div>-->
                            </div>
                        </div>
                        <!--recipes search widget ends-->
                        <!--popular recipes widget-->
                        <div class="widget latest-news-widget">
                            <h2>Công thức thịnh hành</h2>
                            <ul id="list-popular-recipe-widget"></ul>
                        </div>
                        <!--popular recipes widget ends-->
                        <div class="widget">
                            <a href="#">
                                <img src="~/recipepress/images//temp-images/add-side.jpg" alt="Add" />
                            </a>
                        </div>
                        <!--latest news widget-->
                        <div class="widget latest-news-widget">
                            <h2>Công thức mới nhất</h2>
                            <ul id="list-latest-recipe-widget"></ul>
                        </div>
                        <!--latest news widget ends-->
                        <!--get social-->
                        <div class="widget widget-get-social">
                            <h2>get social</h2>
                            <ul>
                                <li class="facebook">
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                        <span class="count">23.5K</span>
                                        <span class="count-type">Likes</span>
                                    </a>
                                </li>
                                <li class="twitter">
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                        <span class="count">23.5K</span>
                                        <span class="count-type">Likes</span>
                                    </a>
                                </li>
                                <li class="google-plus">
                                    <a href="#">
                                        <i class="fa fa-google-plus"></i>
                                        <span class="count">23.5K</span>
                                        <span class="count-type">Likes</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <!--get social ends-->
                    </div>
                </aside>
            </div>
        </div>

    </div>
</div>


@section Scripts {
    <script src="~/js/collection.js"></script>
    <script type="text/javascript" src="~/recipepress/js/pagination.js"></script>
    <script type="text/javascript" src="~/js/recipe.js"></script>
    <script src="~/js/menu-widgets.js"></script>

    <script type="text/javascript">
        const changeHeadername = async () => {
            var someText = "Bộ sưu tập";
            $('.main-heading h1').append(document.createTextNode(someText));
        };
        (async () => {
            // Init elements
            await changeHeadername();
            await callListCategoryItem();
            await callPopularCollectionPageApi();
            await callPopularRecipeWidgetApi();
            await callLatestRecipeWidgetApi();
            await RedirectAPI();
        })();

    </script>
}
