@page
@model SRSN.Client_View.Pages.Shared.CollectionModel
@{

    ViewData["Title"] = "Collection";
}

<div class="recipes-home-body inner-page">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-9">
                <div class="recipe-set">
                    <h2>Bộ sưu tập thịnh hành</h2>
                    <div class="recipe-listing listing-grid" id="recipe-listing-above">

                    </div>
                    <div class="recipe-listing listing-grid">


                        <!--recipe of the day-->
                        <div class="recipe-of-day">
                            <img src="~/recipepress/images//temp-images/recipe-of-the-day.jpg" alt="Recipe of the day">
                            <div class="recipe-contents-outer">
                                <div class="recipe-contents text-center">
                                    <div class="recipe-content-inner">
                                        <span class="tag">Recipe of the Day</span>
                                        <h2><a href="#">Pasto Pizza With Fillas Cheese Topping</a></h2>
                                        <div class="short-separator"></div>
                                        <p>
                                            Nam ornare arcu turpis, nec congu
                                            Curabitur quis euismod...
                                        </p>
                                        <a class="read-more" href="#">read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--recipe of the day ends-->

                        <div class="banner-header text-center">
                            <a href="#">
                                <img src="~/recipepress/images//temp-images/header-banner.jpg" alt="banner">
                            </a>
                        </div>


                        <div class="listing">
                            <div class="image">
                                <a href="#">
                                    <img src="~/recipepress/images//temp-images/listing-1.jpg" alt="image" />
                                </a>
                            </div>
                            <div class="detail">
                                <h4><a href="#">pasto pizza with fillas cheez toppings</a></h4>
                                <p>
                                    Nam ornare arcu turpis, nec congu Curabitur quis euismod. Nam ornare arcu turpis, nec congu Curabitur quis euismod. Nam ornare gsfg
                                </p>
                                <div class="meta-listing">
                                    <ul class="post-meta">
                                        <li class="author"><a href="#">John Doe</a></li>
                                        <li class="calendar">23/10/2015</li>
                                    </ul>
                                    <div class="rating-box">
                                        <span class="rating-icons">
                                            <svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">

                                                <g>
                                                    <title>background</title>
                                                    <rect fill="none" height="21" width="27" y="-1" x="-1" />
                                                </g>
                                                <g>
                                                    <title>Layer 1</title>
                                                    <path class="icon-svg" d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z" clip-rule="evenodd" fill-rule="evenodd" />
                                                </g>
                                            </svg>
                                        </span>
                                        <span class="rating-icons">
                                            <svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">

                                                <g>
                                                    <title>background</title>
                                                    <rect fill="none" height="21" width="27" y="-1" x="-1" />
                                                </g>
                                                <g>
                                                    <title>Layer 1</title>
                                                    <path class="icon-svg" d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z" clip-rule="evenodd" fill-rule="evenodd" />
                                                </g>
                                            </svg>
                                        </span>
                                        <span class="rating-icons">
                                            <svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">

                                                <g>
                                                    <title>background</title>
                                                    <rect fill="none" height="21" width="27" y="-1" x="-1" />
                                                </g>
                                                <g>
                                                    <title>Layer 1</title>
                                                    <path class="icon-svg" d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z" clip-rule="evenodd" fill-rule="evenodd" />
                                                </g>
                                            </svg>
                                        </span>
                                        <span class="rating-icons">
                                            <svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">

                                                <g>
                                                    <title>background</title>
                                                    <rect fill="none" height="21" width="27" y="-1" x="-1" />
                                                </g>
                                                <g>
                                                    <title>Layer 1</title>
                                                    <path class="icon-svg" d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z" clip-rule="evenodd" fill-rule="evenodd" />
                                                </g>
                                            </svg>
                                        </span>
                                        <span class="rating-icons">
                                            <svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">

                                                <g>
                                                    <title>background</title>
                                                    <rect fill="none" height="21" width="27" y="-1" x="-1" />
                                                </g>
                                                <g>
                                                    <title>Layer 1</title>
                                                    <path class="icon-svg" d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z" clip-rule="evenodd" fill-rule="evenodd" />
                                                </g>
                                            </svg>
                                        </span>
                                        <span class="rating-figure">(4.1 / 5)</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="listing">
                            <div class="image">
                                <a href="#">
                                    <img src="~/recipepress/images//temp-images/listing-2.jpg" alt="image" />
                                </a>
                            </div>
                            <div class="detail">
                                <h4><a href="#">pasto pizza with fillas cheez toppings</a></h4>
                                <p>
                                    Nam ornare arcu turpis, nec congu Curabitur quis euismod. Nam ornare arcu turpis, nec congu Curabitur quis euismod. Nam ornare gsfg
                                </p>
                                <div class="meta-listing">
                                    <ul class="post-meta">
                                        <li class="author"><a href="#">John Doe</a></li>
                                        <li class="calendar">23/10/2015</li>
                                    </ul>
                                    <div class="rating-box">
                                        <span class="rating-icons">
                                            <svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">

                                                <g>
                                                    <title>background</title>
                                                    <rect fill="none" height="21" width="27" y="-1" x="-1" />
                                                </g>
                                                <g>
                                                    <title>Layer 1</title>
                                                    <path class="icon-svg" d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z" clip-rule="evenodd" fill-rule="evenodd" />
                                                </g>
                                            </svg>
                                        </span>
                                        <span class="rating-icons">
                                            <svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">

                                                <g>
                                                    <title>background</title>
                                                    <rect fill="none" height="21" width="27" y="-1" x="-1" />
                                                </g>
                                                <g>
                                                    <title>Layer 1</title>
                                                    <path class="icon-svg" d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z" clip-rule="evenodd" fill-rule="evenodd" />
                                                </g>
                                            </svg>
                                        </span>
                                        <span class="rating-icons">
                                            <svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">

                                                <g>
                                                    <title>background</title>
                                                    <rect fill="none" height="21" width="27" y="-1" x="-1" />
                                                </g>
                                                <g>
                                                    <title>Layer 1</title>
                                                    <path class="icon-svg" d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z" clip-rule="evenodd" fill-rule="evenodd" />
                                                </g>
                                            </svg>
                                        </span>
                                        <span class="rating-icons">
                                            <svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">

                                                <g>
                                                    <title>background</title>
                                                    <rect fill="none" height="21" width="27" y="-1" x="-1" />
                                                </g>
                                                <g>
                                                    <title>Layer 1</title>
                                                    <path class="icon-svg" d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z" clip-rule="evenodd" fill-rule="evenodd" />
                                                </g>
                                            </svg>
                                        </span>
                                        <span class="rating-icons">
                                            <svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">

                                                <g>
                                                    <title>background</title>
                                                    <rect fill="none" height="21" width="27" y="-1" x="-1" />
                                                </g>
                                                <g>
                                                    <title>Layer 1</title>
                                                    <path class="icon-svg" d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z" clip-rule="evenodd" fill-rule="evenodd" />
                                                </g>
                                            </svg>
                                        </span>
                                        <span class="rating-figure">(4.1 / 5)</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="listing">
                            <div class="image">
                                <a href="#">
                                    <img src="~/recipepress/images//temp-images/listing-3.jpg" alt="image" />
                                </a>
                            </div>
                            <div class="detail">
                                <h4><a href="#">pasto pizza with fillas cheez toppings</a></h4>
                                <p>
                                    Nam ornare arcu turpis, nec congu Curabitur quis euismod. Nam ornare arcu turpis, nec congu Curabitur quis euismod. Nam ornare gsfg
                                </p>
                                <div class="meta-listing">
                                    <ul class="post-meta">
                                        <li class="author"><a href="#">John Doe</a></li>
                                        <li class="calendar">23/10/2015</li>
                                    </ul>
                                    <div class="rating-box">
                                        <span class="rating-icons">
                                            <svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">

                                                <g>
                                                    <title>background</title>
                                                    <rect fill="none" height="21" width="27" y="-1" x="-1" />
                                                </g>
                                                <g>
                                                    <title>Layer 1</title>
                                                    <path class="icon-svg" d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z" clip-rule="evenodd" fill-rule="evenodd" />
                                                </g>
                                            </svg>
                                        </span>
                                        <span class="rating-icons">
                                            <svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">

                                                <g>
                                                    <title>background</title>
                                                    <rect fill="none" height="21" width="27" y="-1" x="-1" />
                                                </g>
                                                <g>
                                                    <title>Layer 1</title>
                                                    <path class="icon-svg" d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z" clip-rule="evenodd" fill-rule="evenodd" />
                                                </g>
                                            </svg>
                                        </span>
                                        <span class="rating-icons">
                                            <svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">

                                                <g>
                                                    <title>background</title>
                                                    <rect fill="none" height="21" width="27" y="-1" x="-1" />
                                                </g>
                                                <g>
                                                    <title>Layer 1</title>
                                                    <path class="icon-svg" d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z" clip-rule="evenodd" fill-rule="evenodd" />
                                                </g>
                                            </svg>
                                        </span>
                                        <span class="rating-icons">
                                            <svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">

                                                <g>
                                                    <title>background</title>
                                                    <rect fill="none" height="21" width="27" y="-1" x="-1" />
                                                </g>
                                                <g>
                                                    <title>Layer 1</title>
                                                    <path class="icon-svg" d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z" clip-rule="evenodd" fill-rule="evenodd" />
                                                </g>
                                            </svg>
                                        </span>
                                        <span class="rating-icons">
                                            <svg class="icon-container" width="25" height="19" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 19">

                                                <g>
                                                    <title>background</title>
                                                    <rect fill="none" height="21" width="27" y="-1" x="-1" />
                                                </g>
                                                <g>
                                                    <title>Layer 1</title>
                                                    <path class="icon-svg" d="m24.671816,17.625433c0,0.438 -0.286999,0.801001 -0.681,0.935001c-0.095001,0.036999 -0.198002,0.064999 -0.318001,0.064999l-16.000998,0c-0.553,0 -1,-0.448 -1,-1c0,-0.553999 0.447,-1 1,-1l14.950999,0c-0.500999,-5.053999 -4.764997,-9 -9.950999,-9c-5.523,0 -10,4.477001 -10,10c0,0 0.063,1 -1,1c-1.062,0 -1,-1 -1,-1c0,-5.769999 4.071,-10.581999 9.495001,-11.734999c-0.306002,-0.52 -0.495001,-1.117001 -0.495001,-1.765001c0,-1.933999 1.566999,-3.499999 3.5,-3.499999c1.931999,0 3.499,1.567 3.499,3.499999c0,0.739 -0.232998,1.423 -0.624998,1.989c4.984999,1.459 8.625998,6.056 8.625998,11.511l0,0zm-11.499,-15c-0.828999,0 -1.500999,0.670001 -1.500999,1.499001c0,0.827999 0.672001,1.5 1.500999,1.5c0.828001,0 1.499001,-0.672001 1.499001,-1.5c0,-0.829 -0.671,-1.499001 -1.499001,-1.499001l0,0z" clip-rule="evenodd" fill-rule="evenodd" />
                                                </g>
                                            </svg>
                                        </span>
                                        <span class="rating-figure">(4.1 / 5)</span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <ul class="page-nav">
                            <li class="current"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <aside>
                    <div class="side-bar">
                        <!--recipes search widget-->
                        <div class="widget recipe-search">

                            <div class="category-list">
                                <!--<div class="list-inner">-->
                                <ul id="list-category-item"></ul>
                                <!--</div>-->
                            </div>
                        </div>
                        <!--recipes search widget ends-->
                        <!--popular recipes widget-->
                        <div class="widget latest-news-widget">
                            <h2>Công thức thịnh hành</h2>
                            <ul id="list-popular-recipe-widget"></ul>
                        </div>
                        <!--popular recipes widget ends-->
                        <div class="widget">
                            <a href="#">
                                <img src="~/recipepress/images//temp-images/add-side.jpg" alt="Add" />
                            </a>
                        </div>
                        <!--latest news widget-->
                        <div class="widget latest-news-widget">
                            <h2>Công thức mới nhất</h2>
                            <ul id="list-latest-recipe-widget"></ul>
                        </div>
                        <!--latest news widget ends-->
                        <!--get social-->
                        <div class="widget widget-get-social">
                            <h2>get social</h2>
                            <ul>
                                <li class="facebook">
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                        <span class="count">23.5K</span>
                                        <span class="count-type">Likes</span>
                                    </a>
                                </li>
                                <li class="twitter">
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                        <span class="count">23.5K</span>
                                        <span class="count-type">Likes</span>
                                    </a>
                                </li>
                                <li class="google-plus">
                                    <a href="#">
                                        <i class="fa fa-google-plus"></i>
                                        <span class="count">23.5K</span>
                                        <span class="count-type">Likes</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <!--get social ends-->
                    </div>
                </aside>
            </div>
        </div>

    </div>
</div>


@section Scripts {
    <script src="~/js/collection.js"></script>
    <script type="text/javascript" src="~/recipepress/js/pagination.js"></script>
    <script type="text/javascript" src="~/js/recipe.js"></script>
    <script src="~/js/menu-widgets.js"></script>

    <script type="text/javascript">
        const changeHeadername = async () => {
            var someText = "Bộ sưu tập";
            $('.main-heading h1').append(document.createTextNode(someText));
        };
        (async () => {
            // Init elements
            await changeHeadername();
            await callListCategoryItem();
            await callPopularRecipeWidgetApi();
            await callLatestRecipeWidgetApi();
            await RedirectAPI();
        })();

    </script>
}
