@page
@model SRSN.Client_View.Pages.ContactModel
@{
    ViewData["Title"] = "LienHe";
}

<!--banner ends-->
<!--main content area-->
<section class="recipes-home-body inner-page">
    <div class="container">
        <div class="recipe-set">
            <div class="contact-container">
                <div class="contact-content">
                    <h1>Chính sách điểm</h1>
                    <p><span style="color:rgb(169, 169, 169)"><em>Cập nhật ngày 19:30 PM Thứ 4, 021/06/2017</em></span></p>

                    <p>Để ghi nhận sự tham gia đóng góp của tất cả các thành viên cho sự phát triển của&nbsp;<strong>Cộng đồng Food & Taste,</strong>&nbsp;chúng tôi xây dựng chương trình tích điểm &amp; đổi quà và có nhiều ưu đãi cho các thành viên có hoạt động tích cực.</p>

                    <p><strong>Hệ thống điểm</strong></p>

                    <p>Mỗi hoạt động đóng góp của thành viên đều được Food & Taste  ghi nhận dưới dạng điểm, điểm tích lũy này dùng để&nbsp;<strong>làm tăng độ tin cậy của người dùng </strong>&nbsp;có trên hệ thống của Food & Taste.</p>

                    <p><u><strong>Điểm tích lũy</strong></u> <img alt="" src="http://www.cooky.vn/content/img/cp.png" style="height: 18px; width: 18px;">: là điểm thành viên tích lũy qua các hoạt động trên website của Food & Taste.

                    <h4><strong>Các hoạt động được ghi nhận tích điểm</strong></h4>

                    <p><em><span style="color:rgb(105, 105, 105)">Các thành viên tham gia những hoạt động sau trên website cooky.vn sẽ được ghi nhận tích điểm.</span></em></p>

                    <table border="1" cellpadding="4" cellspacing="4" class="rewards-table-list" style="border:1px solid rgb(221, 221, 221); line-height:20.7999992370605px; width:811px">
                        <thead>
                            <tr>
                                <td><strong>Hạng mục</strong></td>
                                <td><img alt="" src="http://www.cooky.vn/content/img/cp.png" style="height:32px; width:32px"></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>
                                    Công thức nấu ăn<br>
                                    <a href="/recipe" style="line-height: 20.8px; text-align: center;" target="_self"><span style="color:rgb(212, 63, 58)">Food&Taste/Cong-thuc</span></a>
                                </th>
                                <th>&nbsp;</th>
                            </tr>
                            <tr>
                                <td>Tạo mới và tải lên công thức</td>
                                <td>+10 điểm</td>
                            </tr>
                            <tr>
                                <td>Đánh giá công thức có nội dung (Rating + Review)</td>
                                <td>+05 điểm</td>
                            </tr>
                            
                            
                            <tr>
                                <th>Thành viên</th>
                                <th>&nbsp;</th>
                            </tr>
                            <tr>
                                <td>Đăng ký thành công</td>
                                <td>+10 điểm</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <th style="text-align:center">
                                    <strong>Chia sẻ Cộng đồng</strong><br>
                                    <a href="/newsfeed" target="_blank"><span style="color:#d43f3a">Food&Taste/cong-dong</span></a>
                                </th>
                                <th>&nbsp;</th>
                            </tr>
                            <tr>
                                <td>Chia sẻ công thức</td>
                                <td>+05 điểm</td>
                            </tr>
                            
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>

                    <p>&nbsp;</p>

                    <p><strong><span style="color:rgb(255, 0, 0)">*</span>&nbsp;Lưu ý</strong>: mức điểm thưởng có thể thay đổi theo từng thời điểm và sẽ được cập nhật thông tin tại đây mà không cần phải thông báo trước. </p>

                    <h4>
                        <br>
                        <strong>Các hoạt động sẽ không được hệ thống duyệt điểm khi vi phạm các mục sau:</strong>
                    </h4>

                    <ul>
                        <li>Vi phạm các điều khoản sử dụng của website Food & Taste.</li>
                        <li>Nội dung bình luận, thảo luận không rõ ràng, không phù hợp với chủ đề liên quan. Sử dụng tiếng việt không dấu</li>
                        <li>Hình ảnh sử dụng không liên quan tới chủ đề, hình ảnh không rõ nét</li>
                        <li>Spam dưới mọi hình thức sẽ không được tính điểm, và nội dung sẽ bị xóa mà không cần phải thông báo trước</li>
                    </ul>

                   
                    <h3><strong>Cấp bậc và xếp hạng thành viên</strong></h3>

                    <p><em>Bên cạnh việc tích điểm cho các thành viên, Cooky.vn phân cấp thành viên tham gia theo điểm tích lũy thông qua các hoạt động trên website của Cooky.vn như sau:</em></p>

                    <table border="1" cellpadding="4" cellspacing="4" class="rewards-table-list" style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, 'Trebuchet MS'; font-size: 13px; line-height: 20.8px; border: 1px solid rgb(221, 221, 221); width: 811px;">
                        <thead>
                            <tr>
                                <td style="text-align: center;"><strong style="color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, 'Trebuchet MS'; font-size: 13px; line-height: 20.8px; text-align: center; background-color: rgb(255, 255, 255);">Cấp bậc</strong></td>
                                <td style="text-align: center;"><strong style="line-height: 20.8px; text-align: center;"><span style="line-height: 20.8px;">Mô tả</span></strong></td>
                                <td style="text-align: center;"><strong style="line-height: 20.8px; text-align: center;"><span style="line-height: 20.8px;">Điểm tích lũy (CP)</span></strong></td>
                            </tr>
                            <tr>
                                <td style="background-color: rgb(124, 179, 66);"><span style="color:#FFFFFF;"><strong>Newbee</strong></span></td>
                                <td><span style="line-height: 20.8px; text-align: center;">Bạn quan tâm đến những món ăn ngon và đẹp</span></td>
                                <td><span style="line-height: 20.8px; text-align: center;">0 – 99 điểm</span></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="background-color: rgb(117, 117, 117);"><span style="color:#FFFFFF;"><strong><span style="line-height: 20.8px; text-align: center;">Tastee</span></strong></span></td>
                                <td><span style="line-height: 20.8px; text-align: center;">Bạn là chuyên gia nêm nếm thưởng thức món ăn</span></td>
                                <td><span style="line-height: 20.8px; text-align: center;">100 – 499 điểm</span></td>
                            </tr>
                            <tr>
                                <td style="background-color: rgb(255, 193, 7);"><span style="line-height: 20.8px; text-align: center;"><strong>Cookee</strong></span></td>
                                <td><span style="line-height: 20.8px; text-align: center;">Bạn là một người nấu ăn ngon</span></td>
                                <td><span style="line-height: 20.8px; text-align: center;">500 – 999 điểm</span></td>
                            </tr>
                            <tr>
                                <td style="background-color: rgb(2, 82, 92);"><span style="color:#FFFFFF;"><strong><span style="line-height: 20.8px; text-align: center;">Chefee &nbsp;</span></strong></span></td>
                                <td><span style="line-height: 20.8px; text-align: center;">Bạn là một đầu bếp chuyên nghiệp</span></td>
                                <td><span style="line-height: 20.8px; text-align: center;">1000 – 4999 điểm</span></td>
                            </tr>
                            <tr>
                                <td style="background-color: rgb(54, 23, 66);"><strong><span style="color:#FFFFFF;"><span style="line-height: 20.8px; text-align: center;">Mastee&nbsp;</span></span></strong></td>
                                <td><span style="line-height: 20.8px; text-align: center;">Vua đầu bếp</span></td>
                                <td><span style="line-height: 20.8px; text-align: center;">5000 điểm trở lên</span></td>
                            </tr>
                        </tbody>
                    </table>

                    <p>&nbsp;</p>

                    <p>Làm sao để đạt được những cấp bậc trên Food & Taste? Bạn chỉ cần :&nbsp;</p>

                    <ul>
                        <li>Chia sẻ công thức đến với mọi người, tại <u><a href="/SubmitRecipe" target="_blank">Đăng Tải Công Thức</a></u></li>
                        <li>Đánh giá công thức và đăng tải hình ảnh, tại <a href="/recipe" target="_blank"><span style="color:#B22222;">Công Thức</span></a></li>
                    </ul>

                    <p>&nbsp;</p>

                </div>
            </div> 
        </div>
    </div>
</section>
<!--main content area-->

<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/jquery.meanmenu.js"></script>
<script src="js/jquery.selectric.min.js"></script>
<script src="js/wow.js"></script>
<script src="js/jquery.form.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/jquery.swipebox.js"></script>
<script src="js/custom.js"></script>


@section Scripts {
    <script>
        var authorization = JSON.parse(localStorage.getItem('authorization'));
        if (authorization == null) {
            window.location.href = "/login";
        }
    </script>

    <script type="text/javascript">
        const changeHeadername = async () => {
            var someText = "Thông tin về trang";
            $('.main-heading h1').append(document.createTextNode(someText));
        };

        (async () => {
            await changeHeadername();

        })();
    </script>
}