@page
@model IndexModel
@{
    Layout = null;
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html>
<!-- Mirrored from templates.majesticthemes.com/recipepress/v6.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 16 Jan 2019 05:13:42 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Food & Health</title>
    <!--google fonts-->
    <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!--jquery ui stylesheet-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">

    <!-- site favicon -->
    <link rel="icon" href="/recipepress/images/favicon.png" />
    <!--selectric stylesheet-->
    <link rel="stylesheet" href="/recipepress/css/selectric.css" />
    <!--font awesome stylesheet-->
    <link rel="stylesheet" href="/recipepress/css/font-awesome.min.css" />
    <!--swipe box stylesheet-->
    <link rel="stylesheet" href="/recipepress/css/swipebox.css" />
    <!-- mean menu stylesheet-->
    <link rel="stylesheet" href="/recipepress/css/meanmenu.css" />
    <!--slick slider stylesheet-->
    <link rel="stylesheet" href="/recipepress/css/slick.css" />
    <link rel="stylesheet" href="/recipepress/css/slick-theme.css" />
    <!--bootstrap stylesheets-->
    <link rel="stylesheet" href="/recipepress/css/bootstrap.css" />
    <link rel="stylesheet" href="/recipepress/css/bootstrap-theme.css" />
    <!--animate stylesheet-->
    <link rel="stylesheet" href="/recipepress/css/animate.css" />
    <!--main stylesheet-->
    <link rel="stylesheet" href="/recipepress/css/main.css" />
    <link rel="stylesheet" href="~/recipepress/css/custom.css" />
</head>
<body>
    <!--pre-loader-->
    <div class="preloader">
        <div class="loadr">
            <svg viewbox="0 0 74.6 81">
                <path d="M67.8,12.9C51.7,5.2,26.2,0.2,26.2,0.2c-10.9-1.8-9.3,11.4-9,20.2c0,0.7,0.1,1.4,0.1,2c7.8,1.5,19.7,4,29.2,7.4c11.4,4.1,9.6,8.3,9.2,16c-0.2,4.9-0.4,14,1.1,21.3c7.7,1.4,13.8,1.9,13.1-0.3c-6.3-7.2-0.1-29.6,1.8-34.2C73.3,28.7,79.3,18.4,67.8,12.9z"></path>
                <path d="M58.9,79.5c-6.5-5.6-6.2-23.6-5.8-31.3c0.4-7.7,2.1-11.9-9.2-16c-15.3-5.5-37.3-8.8-37.3-8.8c-9.1-1.1-6.6,8.4-5.5,15.1c1.7,10,5.4,22,7.9,27.8c2.8,6.5,8.9,7.3,8.9,7.3S65.4,85.1,58.9,79.5z"></path>
            </svg>
        </div>
    </div>
    <!--pre-loader ends-->
    <!--header-->
    <header>
        <div class="fade-load-down header header-var2 ext-var4">
            <div class="container">
                <div class="wrapper-logo-banner">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="logo-wrapper">
                                 <a href="/Index" class="href-homepage"><img src="/recipepress/images/logo.png" alt="logo" /></a>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="banner-login-wrapper">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="wrapper-links">
                                            <ul class="header-social-icons">
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                                <li style="display: none" class="noti-message-icon">
                                                    <nav class="nav-collapse header-social-icons">
                                                        <ul>
                                                            <li>
                                                                <a href="#" onclick="changeStatusNoti()">
                                                                    <i class="fa fa-bell"></i>
                                                                    <span style="
                                                                          position: absolute;
                                                                          top: 5px;
                                                                          right: -4px;
                                                                          padding: 0px 5px;
                                                                          border-radius: 50%;
                                                                          background-color: red;
                                                                          color: white; font-size: 12px" id="number-of-notification"></span>
                                                                </a>
                                                                <ul id="list-notification" class="scroll-notification"></ul>
                                                            </li>
                                                            <li>
                                                            <a href="/MessageChat">
                                                                <i class="fa fa-envelope">
                                                                    <span style="
                                                                          position: absolute;
                                                                          top: 5px;
                                                                          right: -4px;
                                                                          padding: 0px 5px;
                                                                          border-radius: 50%;
                                                                          background-color: red;
                                                                          color: white; font-size: 12px" id="number-of-message-notification"></span>
                                                                </i>
                                                                </a></li>
                                                        </ul>
                                                    </nav>
                                                </li>
                                            </ul>

                                            <span class="sign-in-buttons authorized-group" style="display: none;" id="user">
                                                <a class="information" href="/account/information" id="authorized-group-username">Username</a>
                                            </span>
                                            <span class="sign-in-buttons authorized-group" id="logoutBtn">
                                                <a class="login" href="">Đăng xuất</a>
                                            </span>
                                            <span class="sign-in-buttons unauthorized-group">
                                                <a class="login" href="/login">Đăng nhập</a>
                                                <a class="register" href="/register">Đăng ký</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="banner-header">
                                    <a href="#">
                                        <img src="~/recipepress/images/temp-images/header-banner.jpg" alt="banner" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- nav-->
            <div class="top-nav">
                <div class="container">
                    <nav class="responsive-menu">
                        <ul>
                            <li>
                                <a href="#">Trang chủ</a>

                            </li>
                            <li>
                                <a href="/Recipe">Công thức</a>

                            </li>
                            <li>
                                <a href="/Newsfeed" class="nav-display-none">Cộng đồng</a>

                            </li>
                            <li><a href="/TopUsers">Top thành viên</a></li>
                            <li>
                                <a href="blog.html" class="nav-display-none">Blog</a>

                            </li>
                            <li><a href="/Collection">Bộ sưu tập</a></li>
                            <li><a href="/contact">Chính sách</a></li>
                            <li class="submit-recipe"><a href="/SubmitRecipe">Đăng công thức</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- nav ends-->
        </div>
        <div id="messgesDiv" style="width:500px">
        </div>
    </header>
    <!--header ends-->
    <!--slider main-->
    <section class="wrapper-home-slider variation-two">
        <div class="fluid-slider-var2" id="list-banner-recipe">
            <div>
                <img src="/recipepress/images/temp-images/full-slide-1.jpg" alt="" />
                <div class="container custom-container-slide">
                    <div class="slide-detail text-center" id="single-banner1">

                    </div>
                </div>
            </div>
            <div>
                <img src="/recipepress/images/temp-images/full-slide-2.jpg" alt="" />
                <div class="container custom-container-slide">
                    <div class="slide-detail text-center" id="single-banner2">

                    </div>
                </div>
            </div>
            <div>
                <img src="/recipepress/images/temp-images/full-slide-3.jpg" alt="" />
                <div class="container custom-container-slide">
                    <div class="slide-detail text-center" id="single-banner3">

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--slider main ends-->
    <div class="advance-search">
        <!--advance search form-->
        <div class="container">
            <div class="wrapper-search">
                <div class="container-tags">
                    <span class="tag">
                        <span class="tag-inner">Tìm kiếm<i class="fa fa-angle-down"></i></span>
                    </span>
                </div>
                <div class="outer-advance-search">
                    <form id="advance-search">
                        <fieldset>
                            <div class="inner-advance-search" style="width: 50%">
                                <div id="custom-advance-search" class="form-field">
                                    <input id="custom-input-search" style="outline: none; border: 1px solid grey; font-size: 2rem; padding: 0px 10px; border-radius: 5px; " type="text" value="" />
                                    <div id="custom-quick-result"></div>
                                </div>
                                <button id="searchBtn" style="width: 100px; border-radius: 5px; height: 40px" type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <!--advance search form ends-->
    </div>

    <div class="recipes-home-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-9">
                    <div class="body-contents">
                        <div class="recipe-set">
                            <h2>Công thức thịnh hành</h2>
                            <div class="boxed-recipes text-center" id="list-single-recipe">

                            </div>
                        </div>
                        <div class="recipe-set">
                            <h2>Công thức mới nhất</h2>
                            <div class="boxed-recipes text-center" id="list-single-latest-recipe">

                            </div>
                        </div>
                        <!--recipe of the day-->
                        <div class="recipe-of-day animated wow fadeIn" id="single-recipe-of-day">

                        </div>
                        <!--recipe of the day ends-->

                        <div class="recipe-set" id="suggest-recipe">
                            <h2 id="title-maybe-like">Có thể bạn thích</h2>
                            <div class="boxed-recipes text-center" id="list-suggest-recipe">

                            </div>
                        </div>
                        <div class="banner-header text-center">
                            <a href="#">
                                <a href="#"><img src="/recipepress/images/temp-images/header-banner.jpg" alt="banner"></a>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <aside>
                        <div class="side-bar-home">
                            <div class="side-bar">
                                <!--recipes search widget-->
                                <div class="widget recipe-search">
                                    <div class="category-list">
                                        <!--<div class="list-inner">-->
                                        <ul id="list-category-item"></ul>
                                        <!--</div>-->
                                    </div>
                                </div>
                                <!--recipes search widget ends-->
                                <!--popular recipes widget-->
                                <div class="widget latest-news-widget">
                                    <h2>Công thức thịnh hành</h2>
                                    <ul id="list-popular-recipe-widget"></ul>
                                </div>
                                <!--popular recipes widget ends-->
                                <div class="widget">
                                    <a href="#">
                                        <img src="/recipepress/images/temp-images/add-side.jpg" alt="Add" />
                                    </a>
                                </div>
                                <!--latest news widget-->
                                <div class="widget latest-news-widget">
                                    <h2>Công thức mới nhất</h2>
                                    <ul id="list-latest-recipe-widget"></ul>
                                </div>
                                <!--latest news widget ends-->
                                <!--get social-->
                                <div class="widget widget-get-social">
                                    <h2>Liên kết xã hội</h2>
                                    <ul>
                                        <li class="facebook">
                                            <a href="#">
                                                <i class="fa fa-facebook"></i>
                                                <span class="count">23.5K</span>
                                                <span class="count-type">Likes</span>
                                            </a>
                                        </li>
                                        <li class="twitter">
                                            <a href="#">
                                                <i class="fa fa-twitter"></i>
                                                <span class="count">23.5K</span>
                                                <span class="count-type">Likes</span>
                                            </a>
                                        </li>
                                        <li class="google-plus">
                                            <a href="#">
                                                <i class="fa fa-google-plus"></i>
                                                <span class="count">23.5K</span>
                                                <span class="count-type">Likes</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!--get social ends-->
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <!--footer-->
    <div class="animate-footer footer footer-variant-one footer-fluid">
        <div class="container">
            <div class="footer-inner">
                <div class="text-center">
                    <a class="logo-footer wow animated zoomIn" href="index.html">
                        <img src="/recipepress/images/logo2.png" alt="Logo" />
                    </a>
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore<br />
                        magna aliquyam erat, with an extra ordinary design and quality development features in low
                    </p>
                </div>
                <div class="subs-social-options">
                    <div class="row custom-row-footer">
                        <div class="col-md-6 custom-col-options">
                            <div class="left-side">
                                <div class="widget widget-footer news-letter-signup">
                                    <h2>Newsletter Signup</h2>
                                    <form class="subs-form" action="#" method="post">
                                        <div class="email-field">
                                            <input type="email" name="email" placeholder="Enter you email address" />
                                            <button><i class="fa fa-paper-plane-o"></i></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="right-side">
                                <div class="widget widget-footer social-icons">
                                    <h2>Get Social with Us</h2>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                                        <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright text-center wow animated flipInY">
                    <p>&copy; Copyright 2015 All Rights Reserved by <a href="#">Majestic Themes</a></p>
                </div>
                <div class="corner-image wow animated fadeInRight">
                    <img src="/recipepress/images/footer-corner-image.jpg" alt="image" />
                </div>
            </div>
        </div>
    </div>

    <!--footer ends-->


</body>
<!-- Mirrored from templates.majesticthemes.com/recipepress/v6.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 16 Jan 2019 05:13:42 GMT -->
</html>

<script src="/recipepress/js/jquery-1.11.3.min.js"></script>
<script src="/recipepress/js/jquery-ui.js"></script>
<script src="/recipepress/js/slick.min.js"></script>
<script src="/recipepress/js/jquery.meanmenu.js"></script>
<script src="/recipepress/js/jquery.selectric.min.js"></script>
<script src="/recipepress/js/wow.js"></script>
<script src="/recipepress/js/jquery.form.js"></script>
<script src="/recipepress/js/jquery.validate.min.js"></script>
<script src="/recipepress/js/jquery.swipebox.js"></script>
<script src="/recipepress/js/custom.js"></script>

<script src="https://www.gstatic.com/firebasejs/5.8.4/firebase.js"></script>
<script type="text/javascript" src="~/js/Configuration.js"></script>
<script src="~/js/notification.js"></script>
<script src="~/js/notification-message.js"></script>

<script src="~/js/index.js"></script>
<script src="~/js/site.js"></script>
<script src="~/js/recipe.js"></script>
<script src="~/js/menu-widgets.js"></script>
<script src="~/js/SearchPageResult.js"></script>

<script type="text/javascript">

    // fetch and render element to html
    (async () => {
        await callPopularRecipeBannerApi();
        await callPopularRecipeWidgetApi();
        await callPopularRecipeApi();
        await callLatestRecipeApi();
        await callLatestRecipeWidgetApi();
        await callSuggestRecipeApi();
        await callListCategoryItem();
        await attachInputSearchCallback();
        await RedirectAPI();

    })();

</script>
<script>
    var authorization = JSON.parse(localStorage.getItem('authorization'));
    if (authorization == null) {
        $("#suggest-recipe").css("display", "none");
    }
    else {
        window.location.href = "/Newsfeed"
    }

    $("#searchBtn").on("click", function (e) {
        e.preventDefault();
        var searchValue = $('#custom-input-search').val();
        fetch(`${BASE_API_URL}/api/recipe/read-recipename?recipeName=${searchValue}`,
            {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(res => res.json())
            .then(response => {
                var searchValue = $('#custom-input-search').val();
                var searchValueParam = encodeURIComponent(searchValue);
                window.location.href = (`/RecipeSearch/${searchValueParam}`);
                console.log(response);
            })
            .catch(error => {
                console.error('Error:', error);
            });
    });


</script>

