@page "/login"
@{

}

<!--banner ends-->
<div class="recipes-home-body inner-page">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-9">
                <div class="recipe-set submit-recipe-set">
                    <h2>Đăng nhập</h2>
                    <div class="submit-recipe-form">
                        <form action="#" method="post" id="login-form">
                            <label for="title">Tên đăng nhập</label>
                            <input type="text" name="usernameVM" id="usernameVM" autocomplete="off" />
                            <label for="title">Mật khẩu</label>
                            <input type="password" name="password" id="password" autocomplete="off" />
                            <a href="/RequestResetPassword"><h5 class="forgot-title">Quên mật khẩu?</h5></a>
                            <div id="area-error">

                            </div>
                            <div class="text-center">
                                <button type="submit" class="recipe-submit-btn">Đăng nhập</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <aside>
                    <div class="side-bar">
                        <!--recipes search widget-->
                        <div class="widget recipe-search">
                            <div class="category-list">
                                <!--<div class="list-inner">-->
                                <ul id="list-category-item"></ul>
                                <!--</div>-->
                            </div>
                        </div>
                        <!--recipes search widget ends-->
                        <!--popular recipes widget-->
                        <div class="widget latest-news-widget">
                            <h2>Công thức thịnh hành</h2>
                            <ul id="list-popular-recipe-widget"></ul>
                        </div>
                        <!--popular recipes widget ends-->
                        <div class="widget">
                            <a href="#">
                                <img src="recipepress/images/temp-images/add-side.jpg" alt="Add" />
                            </a>
                        </div>
                        <!--latest news widget-->
                        <div class="widget latest-news-widget">
                            <h2>Công thức mới nhất</h2>
                            <ul id="list-latest-recipe-widget"></ul>
                        </div>
                        <!--latest news widget ends-->
                        <!--get social-->
                        <div class="widget widget-get-social">
                            <h2>Liên kết xã hội</h2>
                            <ul>
                                <li class="facebook">
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                        <span class="count">23.5K</span>
                                        <span class="count-type">Likes</span>
                                    </a>
                                </li>
                                <li class="twitter">
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                        <span class="count">23.5K</span>
                                        <span class="count-type">Likes</span>
                                    </a>
                                </li>
                                <li class="google-plus">
                                    <a href="#">
                                        <i class="fa fa-google-plus"></i>
                                        <span class="count">23.5K</span>
                                        <span class="count-type">Likes</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <!--get social ends-->
                    </div>
                </aside>
            </div>
        </div>

    </div>
</div>
@*<script type="text/javascript" src="~/recipepress/js/pagination.js"></script>*@

<script src="~/js/menu-widgets.js"></script>
<script src="~/js/recipe.js"></script>
@section Scripts
    {
    <script>

        $("#login-form").on("submit", async function (e) {
            e.preventDefault();

            //var formData = $('#login-form').serializeArray();
            //var data = {};
            //$.map(formData, function (n, i) {
            //    data[n['name']] = n['value'];
            //});
            fetch(`${BASE_API_URL}/${ACCOUNT_API_URL}/login`, {
                method: 'POST', // or 'PUT'
                body: JSON.stringify({
                    'usernameVM': $('#usernameVM').val(),
                    'password': $('#password').val(),

                }), // data can be `string` or {object}!
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(res => res.json())
                .then(response => {
                    if (response.success) {
                        localStorage.setItem("authorization", JSON.stringify(response.token));
                        localStorage.setItem("username", $("#usernameVM").val());
                        localStorage.setItem("userId", response.userId);
                        window.location.href = '/';
                    } else {
                        var errorP = document.createElement("p");
                        errorP.append(response.message);
                        $("#area-error").html(errorP.outerHTML);
                    }
                })
                .catch(error => {
                    console.error('Error:', error)
                });
        });

    </script>
    <script type="text/javascript">
        // fetch and render element to html
        const changeHeadername = async () => {
            var someText = "Đăng nhập";
            $('.main-heading h1').append(document.createTextNode(someText));
        };
        (async () => {
            await changeHeadername();
            await callLatestRecipeWidgetApi();
            await callListCategoryItem();
            await callPopularRecipeWidgetApi();
            await RedirectAPI();
        })();
    </script>

}