@page
@model SRSN.Client_View.Pages.NewsfeedModel
@{
    ViewData["Title"] = "Newsfeed";
}
@section PrefixStyleOptional
    {

    <!-- ==== Main Stylesheet ==== -->
    <link rel="stylesheet" href="recipepress/css/style.css">
}
@section StyleOptional{
    <link rel="stylesheet" href="recipepress/css/plugins.min.css">


    <!-- ==== Responsive Stylesheet ==== -->
    <link rel="stylesheet" href="recipepress/css/responsive-style.css">

    <!-- ==== Color Scheme Stylesheet ==== -->
    <link rel="stylesheet" href="recipepress/css/colors/color-1.css" id="changeColorScheme">

    <!-- ==== Custom Stylesheet ==== -->
    <link rel="stylesheet" href="recipepress/css/custom.css">
    <link rel="stylesheet" href="~/recipepress/css/rankuser.css">
}


<div class="recipes-home-body inner-page forum-home-body">
    <div class="container">
        <div class="row">
            <div class="wrapper">
                <section class="page--wrapper pb--20">
                    <div class="container">
                        <div class="row">
                            <!-- Main Content Start -->
                            <div class="main--content col-md-8 pb--60">
                                <div class="main--content-inner drop--shadow main-content-custom">

                                    <!-- Activity List Start -->
                                    <div class="activity--list">
                                        <!-- Activity Items Start -->
                                        <ul class="activity--items nav"></ul>
                                        <!-- Activity Items End -->
                                    </div>
                                    <!-- Activity List End -->
                                </div>

                                <!-- Load More Button Start -->
                                <div class="load-more--btn pt--30 text-center">
                                    <a href="#/" onclick="getMoreNewFeeds()" class="btn btn-animate">
                                        <span>Xem thêm<i class="fa ml--10 fa-caret-right"></i></span>
                                    </a>
                                </div>
                                <!-- Load More Button End -->
                            </div>
                            <!-- Main Content End -->
                            <!-- Main Sidebar Start -->
                            <div class="main--sidebar col-md-4 pb--60">
                                <!-- Widget Start -->
                                <div class="widget main-content-custom">
                                    <h3>Top thành viên</h3>
                                    <div class="top-chefee-list" id="top-user-list">
                                        
                                    </div>
                                </div>
                                <div class="widget main-content-custom recipe-seen-content">
                                    <h3>Công thức vừa xem</h3>
                                    <ul id="list-recent-recipe"></ul>
                                </div>

                            </div>
                            <!-- Main Sidebar End -->
                        </div>
                    </div>
                </section>
                <!-- Page Wrapper End -->

            </div>
        </div>
    </div>
</div>
<div class="modal-share-post modal">
    <!-- Modal content -->
    <div class="row modal-content modal-share-content">
        <div class="col-md-12 modal-header">
            <span class="close-share-recipe close">&times;</span>
        </div>
        <div class="col-md-12 modal-body modal-body-share-post">
        </div>
    </div>

</div>
@section Scripts {
    <script>
        var authorization = JSON.parse(localStorage.getItem('authorization'));
        if (authorization == null) {
            window.location.href = "/login";
        }
    </script>
    <script type="text/javascript" src="/recipepress/js/plugins.min.js"></script>
    <script type="text/javascript" src="~/js/newsfeed.js"></script>
    <script type="text/javascript" src="/recipepress/js/color-switcher.min.js"></script>
    <script type="text/javascript" src="/recipepress/js/main.js"></script>
    <script type="text/javascript" src="~/js/menu-widgets.js"></script>
    <script type="text/javascript" src="~/js/follow-unfollow-funtion.js"></script>


    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">
        const changeHeadername = async () => {
            var someText = "Cộng đồng";
            $('.main-heading h1').append(document.createTextNode(someText));
        };
        (async () => {
            await changeHeadername();
            await callNewsfeedPageApi();
            await loadRecipeLocalStorage();
            await callTopUserApi();
            $(".close-share-recipe").on("click", function (e) {
                $(".modal-share-post").css("display", "none");
            });
            //await attachInputSearchCallback();
            
        })();

        var newsFeedGetMorePage = 0;
        var newsFeedGetMoreLimit = 10;
        function getMoreNewFeeds() {
            callNewsfeedPageApi(newsFeedGetMoreLimit, ++newsFeedGetMorePage);
        };
        function openShareModal(e) {
            var recipeId = e.getAttribute("data-recipe-id");
            var recipeOwner = e.getAttribute("data-recipeOwner-name");
            callShareRecipeModalApi(recipeId, recipeOwner);
            $(".modal-share-post").css("display", "block");
        }

        window.onclick = function (event) {
            if (event.target.id == "modal-share-post") {
                $(".modal-share-post").css("display", "none");
            }
        }

    </script>
}

