@page
@model RecipeModel
@{

    ViewData["Title"] = "Recipe page";
}

<link rel="stylesheet" href="/recipepress/css/main.css" />

<div class="recipes-home-body inner-page">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-9">
                <div class="recipe-set">
                    <div class="listing-buttons">
                        <span class="grid "><i class="fa fa-th-large"></i></span>
                        <span class="list current"><i class="fa fa-bars"></i></span>
                    </div>
                    <h2>Công thức mới nhất</h2>

                    <div class="recipe-listing listing-list" id="list-latest-recipe-page"></div>


                    <div id="pagination-container" class="page-nav"></div>

                    <div class="banner-header text-center">
                        <a href="#">
                            <img src="recipepress/images/temp-images/header-banner.jpg" alt="banner">
                        </a>
                    </div>

                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <aside>
                    <div class="side-bar">
                        <!--recipes search widget-->
                        <div class="widget recipe-search">

                            <div class="category-list">
                                <ul id="list-category-item"></ul>
                            </div>
                        </div>
                        <!--recipes search widget ends-->
                        <!--recent recipes widget-->
                        <div class="widget latest-news-widget">
                            <h2>Công thức vừa xem</h2>
                            <ul id="list-recent-recipe"></ul>
                        </div>
                        <!--popular recipes widget ends-->
                        <div class="widget">
                            <a href="#">
                                <img src="~/recipepress/images/temp-images/add-side.jpg" alt="Add" />
                            </a>
                        </div>
                        <!--popular recipe widget-->
                        <div class="widget latest-news-widget">
                            <h2 id="test">Công thức thịnh hành</h2>
                            <ul id="list-popular-recipe-widget"></ul>
                        </div>
                        <!--latest news widget ends-->
                        <!--get social-->
                        <div class="widget widget-get-social">
                            <h2>Liên kết xã hội</h2>
                            <ul>
                                <li class="facebook">
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                        <span class="count">23.5K</span>
                                        <span class="count-type">Likes</span>
                                    </a>
                                </li>
                                <li class="twitter">
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                        <span class="count">23.5K</span>
                                        <span class="count-type">Likes</span>
                                    </a>
                                </li>
                                <li class="google-plus">
                                    <a href="#">
                                        <i class="fa fa-google-plus"></i>
                                        <span class="count">23.5K</span>
                                        <span class="count-type">Likes</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <!--get social ends-->
                    </div>
                </aside>
            </div>
        </div>

    </div>
</div>


@section Scripts {
    <script type="text/javascript" src="~/recipepress/js/pagination.js"></script>
    <script type="text/javascript" src="~/js/recipe.js"></script>
    <script type="text/javascript" src="~/js/menu-widgets.js"></script>
    <script type="text/javascript" src="~/js/Configuration.js"></script>
    <script type="text/javascript">
        const changeHeadername = async () => {
            var someText = "Công thức";
            $('.main-heading h1').append(document.createTextNode(someText));
        };
        (async () => {
            await changeHeadername();
            await callPopularRecipeWidgetApi();
            await callListCategoryItem();
            await loadRecipeSmallLocalStorage();
            await RedirectAPI();
        })();
        $("#pagination-container").pagination({
            dataSource: `${BASE_API_URL}/api/recipe/read-latest-page`,
            locator: '',// array
            totalNumberLocator: function (response) {
                return response.length;
            },
            //totalNumber: 40,
            pageSize: 9,
            ajax: {
                beforeSend: function () {
                    $('#list-latest-recipe-page').html('Đang tải dữ liệu ...');
                }
            },
            callback: function (data, pagination) {
                // template method of yourself
                var html = template(data, pagination);
                $('#list-latest-recipe-page').html(html);
            }
        });
        var template = function (data, pagination) {
            var pageSize = pagination.pageSize;
            var currentPageNumber = pagination.pageNumber - 1;
            var s = "";

            var count = 0;
            while (count < pageSize) {
                var i = currentPageNumber * pageSize + count;
                if (i >= data.length) {
                    break;
                }

                var numStar = data[i].evRating % 10;
                var ratingStarElement = "";
                if (numStar > 0) {
                    for (var j = 0; j < parseInt(numStar); j++) {
                        ratingStarElement += `<i class="fa fa-star-half-o" aria-hidden="true" style="font-size: 20px;color: green;"></i>`;
                    }
                }
                s += createSingleLatestRecipeElementPage(data[i], ratingStarElement);
                ratingStarElement = "";
                count++;
            }
            return s;
        };

    </script>
}