@page "/register"
@{

}

<style>
    .error-area {
        color: red;
    }

    .daterangepicker .drp-calendar {
        max-width: 100% !important;
    }
</style>
<!--banner ends-->
<div class="recipes-home-body inner-page">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-9">
                <div class="recipe-set submit-recipe-set">
                    <h2>Đăng ký</h2>
                    <div class="submit-recipe-form">
                        <form action="#" method="post" id="register-form">
                            <label for="title">Tên đăng nhập *</label>
                            <input type="text" name="usernameVM" required autocomplete="off" readonly
                                   onfocus="this.removeAttribute('readonly');" />
                            <label for="title">Họ *</label>
                            <input type="text" name="lastName" required />
                            <br />
                            <label for="title">Tên *</label>
                            <input type="text" name="firstName" required />
                            <label for="title">Email*</label>
                            <input type="email" name="email" placeholder="Ví dụ: ten.ho@@gmail.com" required autocomplete="off" readonly
                                   onfocus="this.removeAttribute('readonly');" />
                            <label for="title">Mật khẩu*</label>
                            <input type="password" name="password" placeholder="Ví dụ: abC@@1234" required autocomplete="off" readonly
                                   onfocus="this.removeAttribute('readonly');" />
                            <label for="title">Xác nhận mật khẩu*</label>
                            <input type="password" name="confirmPassword" placeholder="Ví dụ: abC@@1234" required autocomplete="off" readonly
                                   onfocus="this.removeAttribute('readonly');"/>
                            <label for="birthdateStr">Ngày sinh</label>
                            <input type="text" name="birthdateStr" id="birthdateStr" required />
                            <input type="hidden" name="birthdate" id="birthdate" />
                            <label for="gender">Giới tính</label>
                            <select name="gender" id="gender" class="advance-selectable">
                                <option value="1" selected="selected">Nam</option>
                                <option value="2">Nữ</option>
                                <option value="3">Khác</option>
                            </select>
                            <label for="txtAddress">Địa chỉ</label>
                            <input type="text" name="address" id="txtAddress" required />
                            <input type="hidden" name="description" />
                            <input type="hidden" name="avatarUrl" />
                            <div class="row error-area">

                            </div>
                            <div class="text-center">
                                <button type="submit" class="recipe-submit-btn">Đăng ký</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <aside>
                    <div class="side-bar">
                        <!--recipes search widget-->
                        <div class="widget recipe-search">
                            
                            <div class="category-list">
                                <!--<div class="list-inner">-->
                                <ul id="list-category-item"></ul>
                                <!--</div>-->
                            </div>
                        </div>
                        <!--recipes search widget ends-->
                        <!--popular recipes widget-->
                        <div class="widget latest-news-widget">
                            <h2>Công thức thịnh hành</h2>
                            <ul id="list-popular-recipe-widget"></ul>
                        </div>
                        <!--popular recipes widget ends-->
                        <div class="widget">
                            <a href="#">
                                <img src="recipepress/images/temp-images/add-side.jpg" alt="Add" />
                            </a>
                        </div>
                        <!--latest news widget-->
                        <div class="widget latest-news-widget">
                            <h2>Công thức mới nhất</h2>
                            <ul id="list-latest-recipe-widget"></ul>
                        </div>
                        <!--latest news widget ends-->
                        <!--get social-->
                        <div class="widget widget-get-social">
                            <h2>Liên kết xã hội</h2>
                            <ul>
                                <li class="facebook">
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                        <span class="count">23.5K</span>
                                        <span class="count-type">Likes</span>
                                    </a>
                                </li>
                                <li class="twitter">
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                        <span class="count">23.5K</span>
                                        <span class="count-type">Likes</span>
                                    </a>
                                </li>
                                <li class="google-plus">
                                    <a href="#">
                                        <i class="fa fa-google-plus"></i>
                                        <span class="count">23.5K</span>
                                        <span class="count-type">Likes</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <!--get social ends-->
                    </div>
                </aside>
            </div>
        </div>

    </div>
</div>
<script src="~/js/menu-widgets.js"></script>
<script src="~/recipepress/js/sweetalertv1.js"></script>
@section Scripts
    {

    <script>
        const changeHeadername = async () => {
            var someText = "Đăng ký";
            $('.main-heading h1').append(document.createTextNode(someText));
        };
        function initMap() {
            
            var input = document.getElementById('txtAddress');
            var searchBox = new google.maps.places.SearchBox(input);
        }
        (async () => {
            await changeHeadername();

        })();
        function validateRegisterForm(form) {
            var password = form['password'].value;
            var email = form['email'].value;
            var confirmPassword = form['confirmPassword'].value;
            if (email == "") {
                swal({
                    title: "",
                    text: "Email không được để trống",
                    type: "error",
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Xác nhận",
                    closeOnConfirm: false
                });
            }
            if (password == "") {
                swal({
                    title: "",
                    text: "Password không được để trống",
                    type: "error",
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Xác nhận",
                    closeOnConfirm: false
                });
                return false;
            }
            if (!(/^(?=.*?[A-Z])(?=(.*[a-z]){1,})(?=(.*[\d]){1,})(?=(.*[\W]){1,})(?!.*\s).{8,}$/.test(password))) {
                $('.error-area').html(`
                                                <p>Ít nhất 1 chữ cái viết hoa</p>
                                                <p>Ít nhất 1 chữ cái viết thường</p>
                                                <p>Ít nhất 1 chữ số</p>
                                                <p>Ít nhất 1 ký tự đặc biết</p>
                                                <p>Chiều dài tối thiểu 8 ký tự</p>`);
                return false;
            }
            if (password !== confirmPassword) {
                swal({
                    title: "",
                    text: "Mật khẩu và xác nhận mật khẩu không trùng khớp",
                    type: "error",
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Xác nhận",
                    closeOnConfirm: false
                });
                return false;
            }
            return true;
        }
        $("#register-form").on("submit", function (e) {
            e.preventDefault();
            var isValidated = validateRegisterForm(e.target);
            if (isValidated) {
                var formData = $('#register-form').serializeArray();
                var data = {};
                $.map(formData, function (n, i) {
                    data[n['name']] = n['value'];
                });

                fetch(`${BASE_API_URL}/api/account/register`, {
                    method: 'POST', // or 'PUT'
                    body: JSON.stringify(data), // data can be `string` or {object}!
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                    .then(res => res.json())
                    .then(response => {
                        if (response.success) {
                            localStorage.setItem("authorization", JSON.stringify(response.token));
                            localStorage.setItem("username", response.username);
                            localStorage.setItem("userId", response.userId);
                            window.location.href = '/';

                            //thông báo cộng điểm
                            SRSN.FIREBASE_DATABASE.ref("/" + response.username).set({ "numberOfLatestNotis": "1" });//number of notification to show on web
                            var myDataRef = SRSN.FIREBASE_DATABASE.ref(response.username);
                            var uid = myDataRef.push({
                                "uid": "",
                                "username": "",
                                "content": "Chúc mừng bạn là thành viên mới và được cộng thêm <b>10 điểm</b>",
                                "date": new Date().toLocaleString(),    
                                "link": "/account/information/" + response.username,
                                "isRead": "False"
                            });
                            //update uid into firebase
                            SRSN.FIREBASE_DATABASE.ref("/" + response.username + "/" + uid.key).update({
                                uid: uid.key
                            });
                            
                            
                        } else {
                            $('.error-area').html(response.message);
                        }
                    })
                    .catch(error => console.error('Error:', error));
            }
            else {
                $('.error-area').html("Đăng ký thất bại");
            }
        });

        $(function () {
            $('#birthdateStr').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                minYear: 1901,
                "locale": {
                    "format": "DD/MM/YYYY",
                    "separator": " - ",
                    "applyLabel": "Xác nhận",
                    "cancelLabel": "Hủy",
                    "fromLabel": "Từ",
                    "toLabel": "Đến",
                    "customRangeLabel": "Tùy chọn",
                    "daysOfWeek": [
                        "Chủ nhật",
                        "Thứ hai",
                        "Thứ ba",
                        "Thứ tư",
                        "Thứ năm",
                        "Thứ sáu",
                        "Thứ bảy"
                    ],
                    "monthNames": [
                        "Tháng 1",
                        "Tháng 2",
                        "Tháng 3",
                        "Tháng 4",
                        "Tháng 5",
                        "Tháng 6",
                        "Tháng 7",
                        "Tháng 8",
                        "Tháng 9",
                        "Tháng 10",
                        "Tháng 11",
                        "Tháng 12"
                    ],
                    "firstDay": 1,
                }
            }, function (currentTime) {
                $("#birthdate").val((new Date(currentTime).toLocaleDateString()));
            });
        });
       

        (async () => {
            await callPopularRecipeWidgetApi();
            await callLatestRecipeWidgetApi();
            await callListCategoryItem();
        })();

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzgvkqSdA28vGw5qvqgJdPp-3_8YEBzFo&libraries=places&callback=initMap"
            async defer></script>
}