@page "/sharerecipe/{share_id}"
@model SRSN.Client_View.Pages.Recipe_DetailModel
@{
    ViewData["Title"] = "Share_Recipe_Detail";
}
<!--banner ends-->
@section StyleOptional{
    <link rel="stylesheet" href="/recipepress/css/plugins.min.css">

    <!-- ==== Main Stylesheet ==== -->
    @*<link rel="stylesheet" href="/recipepress/css/style.css">*@

    <!-- ==== Responsive Stylesheet ==== -->
    <link rel="stylesheet" href="/recipepress/css/responsive-style.css">

    <!-- ==== Color Scheme Stylesheet ==== -->
    <link rel="stylesheet" href="/recipepress/css/colors/color-1.css" id="changeColorScheme">

    <!-- ==== Custom Stylesheet ==== -->
    <link rel="stylesheet" href="/recipepress/css/custom.css">
    <link rel="stylesheet" href="~/recipepress/css/style.css">

}
<div class="recipes-home-body inner-page">
    <div class="container">
        <div class="row">
            <div class="wrapper">
                <section class="page--wrapper pb--20">
                    <div class="container">
                        <div class="row">
                            <!-- Main Content Start -->
                            <div class="main--content col-md-8 pb--60">
                                <div class="main--content-inner drop--shadow main-content-custom">

                                    <div class="activity--list">
                                        <ul class="activity--items nav"></ul>
                                    </div>
                                </div>
                            </div>

                            <div class="main--sidebar col-md-4 pb--60">

                                <!--recipes search widget-->
                                <div class="recipe-search">

                                    <div class="category-list">
                                        <!--<div class="list-inner">-->
                                        <ul id="list-category-item"></ul>
                                        <!--</div>-->
                                    </div>
                                </div>
                                <!---recipes search widget ends-->
                                <!--popular recipes widget-->
                                <div class="widget main-content-custom">
                                    <h2>Công thức thịnh hành</h2>
                                    <ul id="list-popular-recipe-widget"></ul>
                                </div>

                                <!--latest news widget-->
                                <div class="widget main-content-custom recipe-seen-content">
                                    <h2>Công thức vừa xem</h2>
                                    <ul id="list-recent-recipe"></ul>
                                </div>
                                <!--latest news widget ends-->
                                <!--get social-->
                                <div class="widget widget-get-social">
                                    <h2>Liên kết cộng đồng</h2>
                                    <ul>
                                        <li class="facebook">
                                            <a href="#">
                                                <i class="fa fa-facebook"></i>
                                                <span class="count">23.5K</span>
                                                <span class="count-type">Likes</span>
                                            </a>
                                        </li>
                                        <li class="twitter">
                                            <a href="#">
                                                <i class="fa fa-twitter"></i>
                                                <span class="count">23.5K</span>
                                                <span class="count-type">Likes</span>
                                            </a>
                                        </li>
                                        <li class="google-plus">
                                            <a href="#">
                                                <i class="fa fa-google-plus"></i>
                                                <span class="count">23.5K</span>
                                                <span class="count-type">Likes</span>
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Page Wrapper End -->

            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        var authorization = JSON.parse(localStorage.getItem('authorization'));
        if (authorization == null) {
            window.location.href = "/login";
        }
    </script>
    <script type="text/javascript" src="/recipepress/js/plugins.min.js"></script>
    <script type="text/javascript" src="/recipepress/js/color-switcher.min.js"></script>
    <script type="text/javascript" src="/recipepress/js/main.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/recipepress/js/jquery.swipebox.js"></script>
    <script src="/recipepress/js/slick.min.js"></script>
    <script src="~/js/menu-widgets.js"></script>
    <script src="~/js/share-recipe-detail.js"></script>


    <script src="~/recipepress/js/ckeditor/ckeditor.js"></script>
    <script src="~/recipepress/js/ckeditor/adapters/jquery.js"></script>
    <script src="~/recipepress/js/ckeditor/config.js"></script>
    <script src="~/recipepress/js/ckeditor/styles.js"></script>
    <script type="text/javascript">
        const changeHeadername = async () => {
            var someText = "Bài viết được chia sẻ";
            $('.main-heading h1').append(document.createTextNode(someText));
        };
        (async () => {
            await changeHeadername();
            await callSharedReipeDetail(@(RouteData.Values["share_id"]));
            await callListCategoryItem();
            await callPopularRecipeWidgetApi();
            await loadRecipeLocalStorage();
            await RedirectAPI();
        })();

    </script>

}
