@page
@{
    ViewData["Title"] = "SubmitRecipe";
}


<meta charset="utf-8">
@*<meta http-equiv="X-UA-Compatible" content="IE=edge">*@
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Food & Health</title>
<!--google fonts-->
<link rel="stylesheet" href="~/css/submit-recipe.css" />
<link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic'
      rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<!--jquery ui stylesheet-->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<!-- site favicon -->
<link rel="icon" href="~/recipepress/images/favicon.png" />
<!--selectric stylesheet-->
<link rel="stylesheet" href="~/recipepress/css/selectric.css" />
<!--font awesome stylesheet-->
<link rel="stylesheet" href="~/recipepress/css/font-awesome.min.css" />
<!--swipe box stylesheet-->
<link rel="stylesheet" href="~/recipepress/css/swipebox.css" />
<!-- mean menu stylesheet-->
<link rel="stylesheet" href="~/recipepress/css/meanmenu.css" />
<!--slick slider stylesheet-->
<link rel="stylesheet" href="~/recipepress/css/slick.css" />
<link rel="stylesheet" href="~/recipepress/css/slick-theme.css" />
<!--bootstrap stylesheets-->
<link rel="stylesheet" href="~/recipepress/css/bootstrap.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="~/recipepress/css/bootstrap-theme.css" />
<!--animate stylesheet-->
<link rel="stylesheet" href="~/recipepress/css/animate.css" />
<!--main stylesheet-->
<link rel="stylesheet" href="~/recipepress/css/main.css" />

<div class="recipes-home-body inner-page">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-9">
                <div class="recipe-set submit-recipe-set">
                    <h2>Submit Recipe</h2>
                    <p>
                        Food Recipe theme include a Recipe Submit Template. It allow users to submit a recipe with featured
                        image and related details. A user should be logged in to submit a recipe.
                    </p>
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#congthuc">Công Thức</a></li>
                        <li><a data-toggle="tab" href="#phanloai">Phân Loại</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="congthuc" class="tab-pane fade in active">
                            <div class="submit-recipe-form">
                                <label for="upload-image">Ảnh đại diện cho món ăn</label>
                                <input type="file" name="avatarUpload" id="upload-image" />
                                <input type="text" name="title" id="title" placeholder="Nhập tên công thức" />
                                <br />
                                <textarea name="content" id="recipe-content" cols="30" rows="10" placeholder="Nhập nội dung công thức"></textarea>
                                <input type="number" name="serving" placeholder="Serving" />
                                <input type="number" name="cooktime" placeholder="Cook time" />
                                <input type="number" name="level" placeholder="Level" />
                                <fieldset class="ingredient-set">
                                    <label for="ingredients">Nguyên liệu</label>
                                    <ul class="list-sortable ingredients-list">
                                        <li>
                                            <div class="add-fields">
                                                <span class="ingredient-handler-list handler-list">
                                                    <i class="fa fa-arrows"></i>
                                                </span>
                                                <input class="ingredient-quantity" type="number" step="1" name="ingredientsQuantity" />
                                                <select class="ingredient-weight" name="ingredientsWeight">
                                                    <option value="1" selected>g</option>
                                                    <option value="1000">kg</option>
                                                </select>
                                                <input class="ingredient-detail" type="text" name="ingredients" id="ingredients" />
                                                <span class="del-list">
                                                    <i class="fa fa-trash"></i>
                                                </span>
                                            </div>
                                        </li>
                                    </ul>
                                    <span class="add-button add-ing">
                                        <i class="fa fa-plus"></i>
                                    </span>
                                </fieldset>
                                <fieldset class="ingredient-set">
                                    <label for="steps">Steps</label>
                                    <ul class="list-sortable steps">
                                        <li>
                                            <div class="add-fields">
                                                <span class="handler-list">
                                                    <i class="fa fa-arrows"></i>
                                                </span>
                                                <textarea class="short-text" name="stepsDes" id="stepsDes" cols="30" rows="10">    </textarea>
                                                <span class="del-list">
                                                    <i class="fa fa-trash"></i>
                                                </span>
                                            </div>
                                            <div class="image-fields">
                                                <input type="file" name="stepsImage" />
                                            </div>
                                        </li>
                                    </ul>
                                    <span class="add-button add-steps">
                                        <i class="fa fa-plus"></i>
                                    </span>
                                </fieldset>
                                <input type="text" name="videoCode" placeholder="Video Code" />
                                <div class="text-center">
                                    <button type="submit" id="submitBtn" class="recipe-submit-btn">Submit Your Recipe</button>
                                </div>

                            </div>
                        </div>
                        <div id="phanloai" class="tab-pane fade">
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <aside>
                    <div class="side-bar">
                        <!--recipes search widget-->
                        <div class="widget recipe-search">
                            <div class="search-bar-widget">
                                <form action="#">
                                    <div class="search-field">
                                        <input type="search" name="search" placeholder="Search" />
                                        <button type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div class="category-list">
                                <!--<div class="list-inner">-->
                                <ul id="list-category-item-recipe-page"></ul>
                                <!--</div>-->
                            </div>
                        </div>
                        <!--recipes search widget ends-->
                        <!--popular recipes widget-->
                        <div class="widget latest-news-widget">
                            <h2>popular recipes</h2>
                            <ul id="list-popular-recipe-widget"></ul>
                        </div>
                        <!--popular recipes widget ends-->
                        <div class="widget">
                            <a href="#">
                                <img src="~/recipepress/images/temp-images/add-side.jpg" alt="Add" />
                            </a>
                        </div>
                        <!--latest news widget-->
                        <div class="widget latest-news-widget">
                            <h2>Latest News</h2>
                            <ul id="list-latest-recipe-submit-page"></ul>
                        </div>
                        <!--latest news widget ends-->
                        <!--get social-->
                        <div class="widget widget-get-social">
                            <h2>get social</h2>
                            <ul>
                                <li class="facebook">
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                        <span class="count">23.5K</span>
                                        <span class="count-type">Likes</span>
                                    </a>
                                </li>
                                <li class="twitter">
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                        <span class="count">23.5K</span>
                                        <span class="count-type">Likes</span>
                                    </a>
                                </li>
                                <li class="google-plus">
                                    <a href="#">
                                        <i class="fa fa-google-plus"></i>
                                        <span class="count">23.5K</span>
                                        <span class="count-type">Likes</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--get social ends-->
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>
<!--footer-->
<div class="footer footer-variant-one footer-fluid">
    <div class="container">
        <div class="footer-inner">
            <div class="text-center">
                <a class="logo-footer wow animated zoomIn" href="index.html">
                    <img src="~/recipepress/images/logo2.png" alt="Logo" />
                </a>
                <p class="wow animated flipInX">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                    <br /> magna aliquyam erat, with an extra ordinary design and quality development features in low
                </p>
            </div>
            <div class="subs-social-options">
                <div class="row custom-row-footer">
                    <div class="col-md-6 custom-col-options">
                        <div class="left-side">
                            <div class="widget widget-footer news-letter-signup wow animated flipInY">
                                <h2>Newsletter Signup</h2>
                                <form class="subs-form" action="#" method="post">
                                    <div class="email-field">
                                        <input type="email" name="email" placeholder="Enter you email address" />
                                        <button>
                                            <i class="fa fa-paper-plane-o"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="right-side">
                            <div class="widget widget-footer social-icons">
                                <h2 class="wow animated fadeInRight">Get Social with Us</h2>
                                <ul>
                                    <li class="wow animated bounceInRight">
                                        <a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="wow animated bounceInRight animation-delay100ms">
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="wow animated bounceInRight animation-delay200ms">
                                        <a href="#">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li class="wow animated bounceInRight animation-delay300ms">
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li class="wow animated bounceInRight animation-delay400ms">
                                        <a href="#">
                                            <i class="fa fa-youtube-play"></i>
                                        </a>
                                    </li>
                                    <li class="wow animated bounceInRight animation-delay500ms">
                                        <a href="#">
                                            <i class="fa fa-flickr"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright text-center wow animated flipInX">
                <p>
                    &copy; Copyright 2015 All Rights Reserved by
                    <a href="#">Majestic Themes</a>
                </p>
            </div>
            <div class="corner-image wow animated fadeInRight">
                <img src="~/recipepress/images/footer-corner-image.jpg" alt="image" />
            </div>
        </div>
    </div>
</div>
<!--footer ends-->


<script src="~/recipepress/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="~/js/submit-recipe.js"></script>

<script src="~/recipepress/js/jquery-ui.js"></script>

<script src="~/recipepress/js/slick.min.js"></script>
<script src="~/recipepress/js/jquery.meanmenu.js"></script>
<script src="~/recipepress/js/jquery.selectric.min.js"></script>
<script src="~/recipepress/js/wow.js"></script>
<script src="~/recipepress/js/jquery.form.js"></script>
<script src="~/recipepress/js/jquery.validate.min.js"></script>
<script src="~/recipepress/js/jquery.swipebox.js"></script>
<script src="~/recipepress/js/custom.js"></script>
<script type="text/javascript" src="~/js/recipe.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

@section Scripts
    {

    <script type="text/javascript">
        const changeHeadername = async () => {
            var someText = "Đăng Công thức";
            $('.main-heading h1').append(document.createTextNode(someText));
        };
        (async () => {
            await changeHeadername();
            await loadcategory();
            await callPopularRecipePageApi();
            //await callListCategoryItemRecipePage();
        })();

    </script>
}

