@page
@{
    ViewData["Title"] = "SubmitRecipe";
}

@section StyleOptional{
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/submit-recipe.css" />
    <link rel="stylesheet" href="~/recipepress/css/basic.css" />
    <link rel="stylesheet" href="~/recipepress/css/dropzone.css" />
}

<div class="recipes-home-body inner-page">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-9">
                <div class="recipe-set submit-recipe-set">
                    <h2>Đăng công thức</h2>
                    <div class="tab-container tab-shortcode">
                        <ul class="clearfix list-nav">
                            <li class="active" id="congthucBtn"><a href="#">Công thức</a></li>
                            <li id="phanloaiBtn"><a href="#">Phân loại</a></li>
                        </ul>
                        <div class="tabs-container">
                            <div class="tab-content" id="congthuc" style="display: block;">
                                <div class="submit-recipe-form">
                                    <label for="upload-image">Ảnh đại diện cho món ăn*</label>
                                    <span class="error" name="avatarUpload">*Hình đại diện không được để trống</span>
                                    <div class="form-group col-sm-12">
                                        <div class="img-picker" style="display:none"></div>
                                    </div>
                                    <input type="file" name="avatarUpload" id="upload-image" required />
                                    <span class="error" name="title">*Tiêu đề không được để trống</span>
                                    <input type="text" name="title" id="title" placeholder="Nhập tên công thức*" required />
                                    <br />
                                    <span class="error" name="content">*Nội dung không được để trống</span>
                                    <textarea name="content" id="recipe-content" cols="30" rows="10" placeholder="Nhập nội dung công thức*" required></textarea>
                                    <label class="col-md-3 custom-label-submit">Số khẩu phần ăn*</label>
                                    <input type="number" name="serving" placeholder="Serving" value="1" required />
                                    </br>
                                    <label class="col-md-3 custom-label-submit">Thời gian nấu (phút)*</label>
                                    <input type="number" name="cooktime" placeholder="Cook time" value="1" required />
                                    </br>
                                    <div class="form-group">
                                        <label class="col-md-3 custom-label-submit">Độ khó*</label>
                                        <select name="level" class="form-control">
                                            <option value="1">Dễ</option>
                                            <option value="2">Trung bình</option>
                                            <option value="3">Khó</option>
                                        </select>
                                    </div>
                                    @*<input type="number"  placeholder="Level" value="1" required />*@
                                    <fieldset class="ingredient-set">
                                        <label for="ingredients">Nguyên liệu</label> </br>
                                        <span class="error" name="ingredients">*Nguyên liệu không được để trống</span>
                                        <ul class="list-sortable ingredients-list">
                                            <li>
                                                <div class="add-fields">
                                                    <span class="ingredient-handler-list handler-list">
                                                        <i class="fa fa-arrows"></i>
                                                    </span>
                                                    <input class="ingredient-weight" type="text" name="ingredientsWeight" placeholder="1g, 1kg, 1 thìa ..." />
                                                    <input class="ingredient-detail" type="text" name="ingredients" id="ingredients" placeholder="Muối, Đường, thịt gà ..." />
                                                    <span class="del-list">
                                                        <i class="fa fa-trash"></i>
                                                    </span>
                                                </div>
                                            </li>
                                        </ul>
                                        <span class="add-ingredient">
                                            <i class="fa fa-plus"></i>
                                        </span>
                                    </fieldset>
                                    <fieldset class="ingredient-set">
                                        <label for="steps">Steps</label> <br />
                                        <span class="error" name="stepsDes">*Các bước không được để trống</span>
                                        <ul class="list-sortable steps">
                                            <li>
                                                <div class="add-fields">
                                                    <span class="handler-list">
                                                        <i class="fa fa-arrows"></i>
                                                    </span>
                                                    <textarea class="short-text" name="stepsDes" id="stepsDes" cols="30" rows="10">    </textarea>
                                                    <span class="del-list">
                                                        <i class="fa fa-trash"></i>
                                                    </span>
                                                </div>
                                                <form action="/file-upload" class="dropzone drop-zone-form" id="myAwesomeDropzone">
                                                    <div class="fallback">
                                                        <input name="file" type="file" multiple />
                                                    </div>
                                                </form>
                                            </li>
                                        </ul>
                                        <span class="add-recipe-steps">
                                            <i class="fa fa-plus"></i>
                                        </span>
                                    </fieldset>
                                    <input type="text" name="videoCode" placeholder="Video Code" class="input-video" />
                                    <div class="text-center">
                                        <button type="button" id="nextBtn" class="recipe-submit-btn">Bước tiếp theo</button>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="tab-content" id="phanloai" style="display: none;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <aside>
                    <div class="side-bar">
                        <!--recipes search widget-->
                        <div class="widget recipe-search">

                            <div class="category-list">
                                <!--<div class="list-inner">-->
                                <ul id="list-category-item"></ul>
                                <!--</div>-->
                            </div>
                        </div>
                        <!--recipes search widget ends-->
                        <!--popular recipes widget-->
                        <div class="widget latest-news-widget">
                            <h2>Công thức thịnh hành</h2>
                            <ul id="list-popular-recipe-widget"></ul>
                        </div>
                        <!--popular recipes widget ends-->
                        <div class="widget">
                            <a href="#">
                                <img src="~/recipepress/images/temp-images/add-side.jpg" alt="Add" />
                            </a>
                        </div>
                        <!--latest news widget-->
                        <div class="widget latest-news-widget">
                            <h2>Công thức mới nhất</h2>
                            <ul id="list-latest-recipe-widget"></ul>
                        </div>
                        <!--latest news widget ends-->
                        <!--get social-->
                        <div class="widget widget-get-social">
                            <h2>Liên kết xã hội</h2>
                            <ul>
                                <li class="facebook">
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                        <span class="count">23.5K</span>
                                        <span class="count-type">Likes</span>
                                    </a>
                                </li>
                                <li class="twitter">
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                        <span class="count">23.5K</span>
                                        <span class="count-type">Likes</span>
                                    </a>
                                </li>
                                <li class="google-plus">
                                    <a href="#">
                                        <i class="fa fa-google-plus"></i>
                                        <span class="count">23.5K</span>
                                        <span class="count-type">Likes</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--get social ends-->
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script type="text/javascript" src="recipepress/js/main.js"></script>
    <script type="text/javascript" src="~/recipepress/js/custom.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script src="//static.filestackapi.com/filestack-js/1.x.x/filestack.min.js"></script>


    <script type="text/javascript" src="~/recipepress//js/dropzone.js"></script>
    @*<script type="text/javascript" src="~/recipepress//js/dropzone-amd-module.js"></script>*@
    <script src="https://www.gstatic.com/firebasejs/5.8.4/firebase.js"></script>
    <script src="~/js/notification.js"></script>
    <script src="~/js/Configuration.js"></script>
    <script src="~/js/submit-recipe.js"></script>
    <script src="~/js/menu-widgets.js"></script>

    <script type="text/javascript">
            //{
            //    // id ste images - value (delimeter ;)
            //    "myAwesomeDropzone": "http://filestack.com/images/url;http://filestack.com/images/url2;",
            //    "myAwesomeDropzone2": "http://filestack.com/images/url;http://filestack.com/images/url2;"
            //}
        var listStepImages = {};
        
        const changeHeadername = async () => {
            var someText = "Đăng công thức";
            $('.main-heading h1').append(document.createTextNode(someText));
        };
        const dropzoneForm = async (id) => {
            $(`#${id}`).dropzone({
                paramName: "file", // The name that will be used to transfer the file
                maxFilesize: 2, // MB
                maxFiles: 6,
                accept: function (file, done) {
                    var id = this.element.id;
                    uploadFile(file)
                        .then(x => {
                            if (!listStepImages[id]) listStepImages[id] = [];
                            listStepImages[id].push({
                                id: file.upload.uuid,
                                fileStackUrl: x.url,
                            });
                            done();
                        }).catch(err => {
                            console.error(err);
                            done();
                        });
                },
                addRemoveLinks: true,
                dictDefaultMessage: "Upload hình ảnh (tối đa 6 ảnh)",
                removedfile: function (file)
                {
                    debugger;
                    var name = file.name;
                    $.ajax({
                        type: 'POST',
                        url: 'delete.php',
                        data: "id=" + name,
                        dataType: 'html'
                    });
                    var _ref;
                    // clean in listStepImages
                    var stepImagesId = this.element.id;
                    listStepImages[stepImagesId] = listStepImages[stepImagesId].filter(function (value, index, arr) {
                        return value.id != file.upload.uuid;
                    });

                    // remove dragzone image and return value
                    return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
                },
                init: function () {
                    this.on('error', function (file, errorMessage) {
                        if (file.accepted) {
                            var mypreview = document.getElementsByClassName('dz-error');
                            mypreview = mypreview[mypreview.length - 1];
                            mypreview.classList.toggle('dz-error');
                            mypreview.classList.toggle('dz-success');
                        }
                    });
                }
            });
        }

        (async () => {
            await dropzoneForm('myAwesomeDropzone');
            await changeHeadername();
            await callLatestRecipeWidgetApi();
            await callListCategoryItem();
            await callPopularRecipeWidgetApi();
            await loadCategory();
            await RedirectAPI();
            $('#submitBtn').on("click", async function (event) {
                $("#loading-box").show();
                var results = getData();
                console.log(results)
                if (results.validation === false) {
                    window.scrollTo(0, 400);
                    $("#congthucBtn").click();
                    Swal.fire({
                        type: 'error',
                        title: 'Thông báo',
                        text: 'Các nội dung không được để trống!',
                    });
                    $("#loading-box").hide();

                    return;
                } else {
                    debugger;
                    var data = results.data;
                    data = await uploadImageSubmit(data);
                    var recipeId;
                    var authorization = localStorage.getItem("authorization");
                    var token = (JSON.parse(authorization))["token"];
                    await fetch("https://localhost:44361/api/recipe/submit-recipe", {
                        method: "POST",
                        //body: JSON.stringify({ request: data }),
                        body: JSON.stringify(data),
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': `Bearer ${token}`
                        }
                    }).then(async (res) => {
                            $("#loading-box").hide();
                            var uid;
                            if (res.status === 200) {
                                swal({
                                    title: "",
                                    text: "Bạn đã chia sẻ công thức thành công",
                                    type: "success",
                                    confirmButtonColor: "#DD6B55",
                                    confirmButtonText: "Xác nhận",
                                    closeOnConfirm: false
                                });
                                setTimeout(async function () {
                                    var data = (await res.json());
                                    recipeId = data.recipeId;
                                    //add data to firebase to notification with users who are following me
                                    //them data vao firebase
                                    var usernameLocal = window.localStorage.getItem("username");//người đang comment
                                    var userRes = await fetch(`${BASE_API_URL}/${USER_FOLLOWING_API_URL}/read-user-following-me?userName=${usernameLocal}`);
                                    var dataUser = await userRes.json();
                                    for (var user of dataUser) {
                                        var followingMe = window.localStorage.getItem(user.username);//user is following me

                                        if (followingMe) {
                                            var myDataRef = firebase.database().ref(followingMe);
                                            uid = myDataRef.push({
                                                "uid": "",
                                                "username": usernameLocal,
                                                "content": "đã chia sẻ công thức mới",
                                                "date": new Date().toLocaleString(),
                                                "link": "/recipe/" + recipeId,
                                                "isRead": "False"
                                            });
                                            SRSN.FIREBASE_DATABASE.ref('/' + chefUsername + "/" + uid.key).update({
                                                "uid": uid.key
                                            });
                                        }
                                    }
                                    //thông báo công điểm cho chính user
                                    var usernameLocal = window.localStorage.getItem("username");//người đang đăng công thức

                                    uid = myDataRef.push({
                                        "uid": "",
                                        "username": "Bạn",
                                        "content": "đã chia sẻ công thức mới và được cộng thêm <b>10 điểm</b>",
                                        "date": new Date().toLocaleString(),
                                        "link": "/recipe/" + recipeId,
                                        "isRead": "False"
                                    });
                                    //update uid into firebase
                                    SRSN.FIREBASE_DATABASE.ref("/" + usernameLocal + "/" + uid.key).update({
                                        "uid": uid.key
                                    });
                                    window.location.href = `/recipe/${recipeId}`
                                }, 1500);



                            }
                        })
                        .catch(function (e) {
                            $("#loading-box").hide();
                        });
                }

            });
        })();
    </script>
}
