@page
@model SRSN.Client_View.Pages.TopThanhVienModel
@{
    ViewData["Title"] = "TopThanhVien";
}
<section class="wrapper-main-contents all-chefs">
    <div class="container">
        <div class="line-heading">
            <h2>Top thành viên</h2>
        </div>
        <!--Get top user-->
        <div class="wrapper-head-chef">
            <div class=head-chef id="read-top-user">


            </div>
            <div class="bg-corner-head-chef">
                <img src="recipepress/images/temp-images/bg-corner-shef.jpg" alt="image" />
            </div>
        </div>

        <div class="line-heading">
            <h2>Top 10 thành viên</h2>
        </div>

        <!--Get top ten user-->
        <div class="wrapper-chef-team">
            <ul class="chef-team" id="list-top-ten-users"></ul>
        </div>
    </div>
</section>

@section Scripts {

    <script src="~/js/getTopTen.js"></script>
    
    <script type="text/javascript">
        const changeHeadername = async () => {
            var someText = "Top thành viên";
            $('.main-heading h1').append(document.createTextNode(someText));
        };
        
        (async () => {
            await changeHeadername();
        })();
    </script>
}