@page
@model SRSN.Client_View.Pages.TopThanhVienModel
@{
    ViewData["Title"] = "TopThanhVien";
}
<section class="wrapper-main-contents all-chefs">
    <div class="container">

        <!--Get top user-->
        <div class="line-heading">
            <h2>Top thành viên</h2>
        </div>
        <div class="top-user-page-custom member-list topchef-list row10 ng-scope" >
           <div id="list-all-users">

           </div>

            <div class="clearfix"></div>
            <div class="recipe-more" style="cursor:pointer">
                <div class="recipe-more-inner" onclick="getMoreTopUsers()">
                    <a>Xem thêm</a>
                </div>
            </div>
        </div>
        
        <!--Get top ten user-->
        @*<div class="wrapper-chef-team">
            <ul class="chef-team" id="list-top-ten-users"></ul>
        </div>*@
    </div>
</section>

@section Scripts {
    <script>
        var authorization = JSON.parse(localStorage.getItem('authorization'));
        if (authorization == null) {
            window.location.href = "/login";
        }
    </script>
    <script src="~/js/getTopTen.js"></script>
    <script src="~/js/follow-unfollow-funtion.js"></script>

    <script type="text/javascript">
        const changeHeadername = async () => {
            var someText = "Top thành viên";
            $('.main-heading h1').append(document.createTextNode(someText));
        };

        (async () => {
            await changeHeadername();
            await callGetAllUserApi();
            
        })();
        var topUserGetMorePage = 0;
        var topUserGetMoreLimit = 23;
        function getMoreTopUsers() {
            callGetAllUserApi(topUserGetMoreLimit, ++topUserGetMorePage);
        };
    </script>
}