
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

.modal-header {
    padding: 2px 16px;
    background-color: #64ad36;
    color: white;
}

.modal-body {
    padding: 16px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #64ad36;
    color: white;
}

.modal-component-1, .modal-component-2 {
    border: 2px solid #64ad36;
    border-radius: 3px;
    height: 350px;
}

#map {
    width: 100%;
    height: 100%;
}

.boxed-recipes .recipe-image img {
    height: 100% !important;
}

.boxed-recipes .recipe-image {
    height: 206px !important;
}

/*notifi*/
@-webkit-keyframes glowing {
    0% {
        color: #ffffff;
    }

    50% {
        color: #ff000c;
    }

    100% {
        color: #d3344c;
    }
}

@-moz-keyframes glowing {
    0% {
        color: #ffffff;
    }

    50% {
        color: #ff000c;
    }

    100% {
        color: #d3344c;
    }
}

@-o-keyframes glowing {
    0% {
        color: #ffffff;
    }

    50% {
        color: #ff000c;
    }

    100% {
        color: #d3344c;
    }
}

@keyframes glowing {
    0% {
        color: #ffffff;
    }

    50% {
        color: #ff000c;
    }

    100% {
        color: #d3344c;
    }
}

.boxed-recipes .recipe-image {
    height: 206px !important;
}

.modal .modal-content {
    overflow: hidden;
}

#noti-color {
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
}

.modal-share-content {
    width: 50% !important;
}

#btn-share-recipe {
    margin-top: 10px
}

.textarea-caption {
    width: 100%;
    border: navajowhite;
    resize: none;
    outline: none;
    color: black;
    font-size: 18px;
    overflow-y: hidden
}

#btn-share-recipe {
    cursor: pointer
}

.img-recipe-avatar a {
    width: 150px;
    height: 150px;
}

.img-recipe-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.collection-item .btn-link {
    font-size: 18px;
    margin-top: 10px;
}

.upload-collection-image {
    margin-top: 10px;
}

#btn-add-collection, #btn-suggest-ingredients {
    cursor: pointer
}

.title-modal-collection {
    text-align: center;
    color: white
}

.collection-modal-item {
    margin-bottom: 10px;
    padding: 5px 0px;
    border-radius: 10px
}

.nav-collapse ul li {
    margin-left: 0px !important
}

.fa-bell, .fa-envelope {
    color: black !important
}

.submit-recipe > a {
    color: white !important
}

.newsfeeds-social-icons {
    display: inline-block;
    width: 49%;
}

    .newsfeeds-social-icons a {
        float:right;
        margin-right: 5px;
        cursor: pointer
    }
.details-social-icons {
    margin-top: 20px;
    display: inline-block;
    width: 100%;
}
.newsfeeds-social-icons:nth-child(2){
    float: right
}
.custom-grid {
    margin: 0px !important
}

.custom-listing {
    width: 262.725px !important;
    height: 350.725px !important;
    /*margin-left: 20px;*/
}

.custome-image-listing {
    width: 262.725px !important;
    height: 206.775px;
}

.custom-grid h4 {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
}

#loading-box {
    display: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

    #loading-box .gif {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        background-color: rgba(0,0,0,0.3) !important;
    }

.custom-label-submit {
    padding-left: 0px !important
}

.input-video {
    margin-top: 30px;
}

.header-var2.ext-var4 nav ul > li a {
    color: black
}

.icon-delete {
    text-align: right;
    font-size: 20px;
    width: 0%;
    margin-left: 95%;
}

.icon-delete:hover {
    color: red;
    cursor: pointer
}

.dropdown-custom {
    float: right;
    cursor: pointer;
    font-size: 20px;
    margin-left: 20px;
    position: absolute !important;
    right: 25px;
}

.dropdown-menu-custom {
    margin-left: 0px !important;
}

.dropdown-custom:hover {
    color: black;
}

.dropdown-menu-custom li {
    margin-bottom: 0px !important;
    margin-top: 0px !important
}

    .dropdown-menu-custom li a:hover {
        margin-left: 0px !important
    }

.delete-collection-button {
    right: 0%;
    float: right;
    background-color: white;
    color: black;
    font-size: 15px;
    border-radius: 90px;
    border-color: RGB(110,190,59)
}
.delete-collection-button:hover{
    background-color: green;
    color:white;
    border-color: white;
}
.dropdown-menu-custom li a:hover {
    margin-left: 0px!important
}
input[name=ingredient]::after {
    /*display: inline-block;*/
    content: "";
    background: #c8b8ad;
    border-radius: 3px;
    width: 15px;
    height: 15px;
    margin-right: 15px
}
input[name=ingredient] {
    margin-right: 15px;
    
}
.ingre-name-item{
    cursor: pointer
}
.alert-success, .alert-comment {
    padding: 10px;
    display: block

}
#logoutBtn{
    cursor: pointer
}
.comment-post-container{
    margin-bottom: 0px!important
}
.main-content-custom{
    background-color: white
}
.user-comment{
    border-radius: 50%
}
a{
    color: black!important
}
#list-category-item-tags li a:hover{
    color: white!important
}
#cColorSwitcher{
    display: none
}
.comment-rating-star, .dropdown-custom{
    display: inline-block;
}
.comment-newsfeeds{
    padding: 0px!important
}
.acomment--item-newsfeed {
    border: none;
    padding-bottom: 5px;
    padding-top: 10px;
    border-bottom: 1px solid #eae6e4;
    margin-top: 0px !important
}
.link--title p{
    font-size: 20px;
    font-weight: 600;
}
.activity--items > li + li{
    margin-top: 15px;
}
.modal-body-share-post{
    list-style-type: none
}
.activity--header p a {
    color: #555;
    font-weight: 700;
}

.activity--header .fa-smile-o {
    color: #ec407a;
}

.activity--meta {
    margin-top: 1px;
}

    .activity--meta .fa {
        margin-left: 1px;
    }

.activity--avatar {
    float: left;
    position: relative;
    width: 60px;
    height: 60px;
    margin-right: 15px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 0;
}

    .activity--avatar:before {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #1da1f2;
        opacity: 0.3;
        z-index: -1;
    }

    .activity--avatar img {
        display: block;
        margin: 5px;
        border-radius: 50%;
    }

.activity--info {
    overflow: hidden;
}

.activity--items > li {
    float: none;
}

    .activity--items > li + li {
        margin-top: 30px;
    }

        .activity--items > li + li .activity--avatar {
            margin-top: 24px;
        }

        .activity--items > li + li .activity--info {
            padding-top: 24px;
            border-top: 1px solid #e5e5e5;
        }

.activity--content {
    margin-top: 14px;
}

    .activity--content .img--embed {
        max-width: 250px;
    }

    .activity--content .img--embed-full {
        max-width: none;
    }

.activity--item .activity--content a {
    color: #555;
}

.activity--item .activity--content .btn-link {
    color: #1da1f2;
    font-style: italic;
}

.activity--action {
    margin-top: 6px;
}
.link--embed {
    position: relative;
    margin: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    z-index: 0;
}

.link--url {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.link--video {
    position: relative;
    z-index: 0;
}

    .link--video:before {
        content: "\f04b";
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        width: 55px;
        margin: -27.5px auto 0;
        padding-top: 2px;
        padding-left: 4px;
        color: #1da1f2;
        background-color: #fff;
        border-radius: 50%;
        font-family: "FontAwesome" !important;
        font-size: 18px;
        line-height: 53px;
        text-align: center;
        z-index: 1;
    }

    .link--video:after {
        content: " ";
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        bottom: 0;
        width: 70px;
        height: 70px;
        margin: -35px auto 0;
        background-color: #1da1f2;
        border-radius: 50%;
        opacity: 0.5;
        z-index: 0;
    }

.link--info {
    padding: 14px 20px 13px;
}

.link--desc {
    margin-top: 7px;
}

.link--rel {
    margin-top: 7px;
}
.reply-newsfeed-comment:before {
    font-family: FontAwesome;
    content: "\f100";
    font-style: normal;
    margin-right: 5px;
}
.reply-newsfeed-comment {
    float: right;
    font-family: 'Lora', serif !important;
    font-style: italic;
}