@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom" action="http://webapplayers.com/inspinia_admin-v2.9.1/search_results.html">
                <div class="form-group">
                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                </div>
            </form>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <span class="m-r-sm text-muted welcome-message">Welcome to INSPINIA+ Admin Theme.</span>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                    <i class="fa fa-envelope"></i>  <span class="label label-warning">16</span>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    <li>
                        <div class="dropdown-messages-box">
                            <a class="dropdown-item float-left" href="profile.html">
                                <img alt="image" class="rounded-circle" src="img/a7.jpg">
                            </a>
                            <div class="media-body">
                                <small class="float-right">46h ago</small>
                                <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>
                                <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li>
                        <div class="dropdown-messages-box">
                            <a class="dropdown-item float-left" href="profile.html">
                                <img alt="image" class="rounded-circle" src="img/a4.jpg">
                            </a>
                            <div class="media-body ">
                                <small class="float-right text-navy">5h ago</small>
                                <strong>Chris Johnatan Overtunk</strong> started following <strong>Monica Smith</strong>. <br>
                                <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li>
                        <div class="dropdown-messages-box">
                            <a class="dropdown-item float-left" href="profile.html">
                                <img alt="image" class="rounded-circle" src="img/profile.jpg">
                            </a>
                            <div class="media-body ">
                                <small class="float-right">23h ago</small>
                                <strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <br>
                                <small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li>
                        <div class="text-center link-block">
                            <a href="mailbox.html" class="dropdown-item">
                                <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell"></i>  <span class="label label-primary">8</span>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="mailbox.html" class="dropdown-item">
                            <div>
                                <i class="fa fa-envelope fa-fw"></i> You have 16 messages
                                <span class="float-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li>
                        <a href="profile.html" class="dropdown-item">
                            <div>
                                <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                <span class="float-right text-muted small">12 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li>
                        <a href="grid_options.html" class="dropdown-item">
                            <div>
                                <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                <span class="float-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li>
                        <div class="text-center link-block">
                            <a href="notifications.html" class="dropdown-item">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>


            <li>
                <a href="login.html">
                    <i class="fa fa-sign-out"></i> Log out
                </a>
            </li>
        </ul>

    </nav>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Báo cáo người dùng</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#" class="dropdown-item">Config option 1</a>
                            </li>
                            <li>
                                <a href="#" class="dropdown-item">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables-example">
                            <thead>
                                <tr>
                                    <th class="username"><em class="fa fa-user"></em> Người báo cáo </th>
                                    <th><em class="fa fa-user"></em> Đối tượng </th>
                                    <th><em class="fa fa-envelope"></em> Nội dung</th>
                                    <th><em class="fa fa-quote-left"></em> Trạng thái</th>
                                    <th><em class="fa fa-calendar"></em> Ngày</th>
                                    <th><em class="fa fa-cog"></em> Thực hiện</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                            <tfoot>
                                <tr>
                                    <th><em class="fa fa-user"></em> Người báo cáo </th>
                                    <th><em class="fa fa-user"></em> Đối tượng </th>
                                    <th><em class="fa fa-envelope"></em> Nội dung</th>
                                    <th><em class="fa fa-quote-left"></em> Trạng thái</th>
                                    <th><em class="fa fa-calendar"></em> Ngày</th>
                                    <th><em class="fa fa-cog"></em> Thực hiện</th>
                                </tr>

                            </tfoot>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <script src="js/plugins/dataTables/datatables.min.js"></script>
    <script src="js/plugins/dataTables/dataTables.bootstrap4.min.js"></script>

    <!-- Custom and plugin javascript -->

    <script src="js/inspinia.js"></script>
    <script src="js/plugins/pace/pace.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script src="~/js/Configuration.js"></script>
    <script src="~/js/manage-report-user.js"></script>

    <!-- Page-Level Scripts -->
    <script>

        (async () => {
            //await refreshPage();
            var res = await fetch(`${BASE_API_URL}/${USER_REPORT_USER_API_URL}/get-reported-user`);
            var data = await res.json();



            $('.dataTables-example').DataTable({
                data: data,
                "columns": [
                    { "data": "username" },
                    { "data": "reportedUsername" },
                    { "data": "description" },
                    {
                        "data": "active",
                        "mRender": function (active, type, obj) {
                            var reportedUserId = obj.reportedUserId;
                            var conntent = active ? `<span class="active-${reportedUserId}"><i class="fa fa-check text-navy"></i> Đang hoạt động</span>` : `<span class="active-${reportedUserId}"><em class="fa fa-lock text-navy"></em> Bị chặn</span>`;
                            return conntent;
                        }
                    },
                    {
                        "data": "createTime",
                        "mRender": function (time) {
                            var date = new Date(time);
                            var hr = date.getHours();
                            var min = date.getMinutes();
                            return date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear() + ' ' + hr + ':' + min;
                        }
                    },
                    {
                        "data": "active",
                        "mRender": function (active, type, obj) {
                            var reportedUserId = obj.reportedUserId;
                            var action = active ? `<span class="icon-action-${reportedUserId}"><a onclick="blockUserFunction(${reportedUserId})"><em class="fa fa-lock" title="Chặn người dùng"></em><a></span>` : `<span class="icon-action icon-action-${reportedUserId} center"><a onclick="unblockUserFunction(${reportedUserId})"><em class="fa fa-unlock" title="Bỏ chăn người dùng"></em></a></span>`;
                            return action;
                        }
                    }
                ],
                pageLength: 25,
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ],


            });


        })();

        function blockUserFunction(reportedUserId) {

            swal({
                title: "Bạn muốn chặn?",
                text: "Sau khi chặn, người dùng sẽ không thể đăng nhập vào trang web nữa!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDeactivate) => {
                    if (willDeactivate) {
                        blockUser(reportedUserId);
                    } else {
                        //do nothing
                    }
                });

        }
        function unblockUserFunction(reportedUserId) {

            blockUser(reportedUserId);
        }
        const blockUser = async (reportedUserId) => {
            var res = await fetch(`${BASE_API_URL}/${ACCOUNT_API_URL}/update-activation?reportedUserId=${reportedUserId}`, {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                }
            });
            var data = await res.json();
            var iconAction = data.active ? `<a onclick="blockUserFunction(${reportedUserId})"><em class="fa fa-lock" title="Chặn người dùng"></em><a>` : `<a onclick="unblockUserFunction(${reportedUserId})"><em class="fa fa-unlock" title="Bỏ chăn người dùng"></em></a>`;
            var active = data.active ? `<i class="fa fa-check text-navy"></i> Đang hoạt động` : `<em class="fa fa-lock text-navy"></em> Bị chặn`;
            if (data.active == true) {
                //bỏ chặn người dùng
                $(`.icon-action-${reportedUserId}`).html(iconAction);
                $(`.active-${reportedUserId}`).html(active);
            } else if (data.active == false) {
                swal("Bạn đã chặn thành công người dùng này!", {
                    icon: "success",
                });
                $(`.icon-action-${reportedUserId}`).html(iconAction);
                $(`.active-${reportedUserId}`).html(active);

            } else {
                swal("Bạn không thể chặn người dùng này!", {
                    icon: "error",
                });
            }
        };
    </script>
}