@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">
<!--jquery ui stylesheet-->
<link rel="stylesheet" href="~/recipepress/css/main.css" />

<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom" action="http://webapplayers.com/inspinia_admin-v2.9.1/search_results.html">
                <div class="form-group">
                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                </div>
            </form>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <span class="m-r-sm text-muted welcome-message">Welcome to INSPINIA+ Admin Theme.</span>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                    <i class="fa fa-envelope"></i>  <span class="label label-warning">16</span>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    <li>
                        <div class="dropdown-messages-box">
                            <a class="dropdown-item float-left" href="profile.html">
                                <img alt="image" class="rounded-circle" src="img/a7.jpg">
                            </a>
                            <div class="media-body">
                                <small class="float-right">46h ago</small>
                                <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>
                                <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li>
                        <div class="dropdown-messages-box">
                            <a class="dropdown-item float-left" href="profile.html">
                                <img alt="image" class="rounded-circle" src="img/a4.jpg">
                            </a>
                            <div class="media-body ">
                                <small class="float-right text-navy">5h ago</small>
                                <strong>Chris Johnatan Overtunk</strong> started following <strong>Monica Smith</strong>. <br>
                                <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li>
                        <div class="dropdown-messages-box">
                            <a class="dropdown-item float-left" href="profile.html">
                                <img alt="image" class="rounded-circle" src="img/profile.jpg">
                            </a>
                            <div class="media-body ">
                                <small class="float-right">23h ago</small>
                                <strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <br>
                                <small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li>
                        <div class="text-center link-block">
                            <a href="mailbox.html" class="dropdown-item">
                                <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell"></i>  <span class="label label-primary">8</span>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="mailbox.html" class="dropdown-item">
                            <div>
                                <i class="fa fa-envelope fa-fw"></i> You have 16 messages
                                <span class="float-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li>
                        <a href="profile.html" class="dropdown-item">
                            <div>
                                <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                <span class="float-right text-muted small">12 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li>
                        <a href="grid_options.html" class="dropdown-item">
                            <div>
                                <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                <span class="float-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li>
                        <div class="text-center link-block">
                            <a href="notifications.html" class="dropdown-item">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>


            <li>
                <a href="login.html">
                    <i class="fa fa-sign-out"></i> Log out
                </a>
            </li>
        </ul>

    </nav>
</div>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Danh sách báo cáo</h2>

    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h2>Bảng báo cáo vi phạm của người dùng</h2>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#" class="dropdown-item">Config option 1</a>
                            </li>
                            <li>
                                <a href="#" class="dropdown-item">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">

                        <div class="col-sm-3">
                            <div class="input-group">
                                <input placeholder="Nhập tên" type="text" class="form-control form-control-sm"> <span class="input-group-append">
                                    <button type="button" class="btn btn-sm btn-primary">
                                        Tìm!
                                    </button>
                                </span>
                            </div>

                        </div>
                    </div>
                    <div class="table-responsive" style="font-size:20px">
                        <table class="table table-striped" style="font-size:20px">
                            <thead>
                                <tr>
                                    <th><em class="fa fa-user"></em> Người báo cáo </th>
                                    <th><em class="fa fa-user"></em> Đối tượng </th>
                                    <th><em class="fa fa-envelope"></em> Nội dung</th>
                                    <th><em class="fa fa-quote-left"></em> Trạng thái</th>
                                    <th><em class="fa fa-calendar"></em> Ngày</th>
                                    <th><em class="fa fa-cog"></em> Thực hiện</th>
                                </tr>
                            </thead>
                            <tbody id="list-report">
                                <tr>
                                    <td>
                                        huỳnh huu nghia
                                    </td>
                                    <td>Nghiahh</td>
                                    <td>Jul 14, 2013</td>
                                    <td><i class="fa fa-check text-navy"></i> Đang hoạt động</td>
                                    <td>Jul 14, 2013</td>
                                    <td> <em class="fa fa-lock"></em> <em class="fa fa-unlock"></em></td>
                                </tr>

                            </tbody>
                            <tfoot>
                                <tr>
                                    <td></td>
                                </tr>
                            </tfoot>
                        </table>
                        <div id="pagination-container" class="page-nav"></div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
<script src="~/recipepress/js/jquery-1.11.3.min.js"></script>
<script src="~/recipepress/js/jquery-ui.js"></script>
<script src="~/recipepress/js/slick.min.js"></script>
<script src="~/recipepress/js/jquery.meanmenu.js"></script>
<script src="~/recipepress/js/jquery.selectric.min.js"></script>
<script src="~/recipepress/js/wow.js"></script>
<script src="~/recipepress/js/jquery.form.js"></script>
<script src="~/recipepress/js/jquery.validate.min.js"></script>
<script src="~/recipepress/js/jquery.swipebox.js"></script>
<script src="~/recipepress/js/custom.js"></script>

<script src="~/js/Configuration.js"></script>
<script type="text/javascript" src="~/recipepress/js/pagination.js"></script>
<script src="~/js/manage-report-user.js"></script>
<script>
    $("#pagination-container").pagination({
        dataSource: `${BASE_API_URL}/${USER_REPORT_USER_API_URL}/get-reported-user`,
        locator: '',// array
        totalNumberLocator: function (response) {
            return response.length;
        },
        //totalNumber: 40,
        pageSize: 10,
        ajax: {
            beforeSend: function () {
                $('#list-report').html('Đang tải dữ liệu...');
            }
        },
        callback: function (data, pagination) {
            // template method of yourself
            var html = template(data, pagination);
            $('#list-report').html(html);
        }
    });
    var template = function (data, pagination) {
        var pageSize = pagination.pageSize;
        var currentPageNumber = pagination.pageNumber - 1;
        var s = "";

        var count = 0;
        while (count < pageSize) {
            var i = currentPageNumber * pageSize + count;
            if (i >= data.length) {
                break;
            }
            var date = new Date(data[i].createTime);
            var hr = date.getHours();
            var min = date.getMinutes();
            data[i].createTime = date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear() + ' ' + hr + ':' + min;
            s += reportUserElement(data[i]);
            count++;
        }
        return s;
    };
</script>
