@page
@model SRSN.Admin.Pages.ReportRecipeModel
@{
    ViewData["Title"] = "ReportRecipe";
}

<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <span class="sign-in-buttons authorized-group" id="logoutBtn">
                    <a class="login">Đăng xuất</a>
                </span>
            </li>
        </ul>

    </nav>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Báo cáo công thức</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#" class="dropdown-item">Config option 1</a>
                            </li>
                            <li>
                                <a href="#" class="dropdown-item">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables-example">
                            <thead>
                                <tr>
                                    <th class="username"><em class="fa fa-user"></em> Người báo cáo </th>
                                    <th><em class="fa fa-user"></em> Mã công thức </th>
                                    <th><em class="fa fa-user"></em> Tên công thức </th>
                                    <th><em class="fa fa-envelope"></em> Nội dung</th>
                                    <th><em class="fa fa-quote-left"></em> Trạng thái</th>
                                    <th><em class="fa fa-calendar"></em> Ngày</th>
                                    <th><em class="fa fa-cog"></em> Thực hiện</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                            <tfoot>
                                <tr>
                                    <th><em class="fa fa-user"></em> Người báo cáo </th>
                                    <th><em class="fa fa-user"></em> Mã công thức </th>
                                    <th><em class="fa fa-user"></em> Tên công thức </th>
                                    <th><em class="fa fa-envelope"></em> Nội dung</th>
                                    <th><em class="fa fa-quote-left"></em> Trạng thái</th>
                                    <th><em class="fa fa-calendar"></em> Ngày</th>
                                    <th><em class="fa fa-cog"></em> Thực hiện</th>
                                </tr>

                            </tfoot>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <script src="js/plugins/dataTables/datatables.min.js"></script>
    <script src="js/plugins/dataTables/dataTables.bootstrap4.min.js"></script>

    <!-- Custom and plugin javascript -->

    <script src="js/inspinia.js"></script>
    <script src="js/plugins/pace/pace.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script src="~/js/Configuration.js"></script>


    <!-- Page-Level Scripts -->
    <script>
        (async () => {
            var res = await fetch(`${BASE_API_URL}/api/userreportrecipe/get-all-reported-recipe`);
            var data = await res.json();
            $('.dataTables-example').DataTable({
                data: data,
                "columns": [
                    { "data": "username" },
                    { "data": "recipeReportedId" },
                    { "data": "recipeReported" },
                    { "data": "description" },
                    {
                        "data": "isActive",
                        "mRender": function (active, type, obj) {
                            var id = obj.recipeReportedId;
                            var conntent = active ? `<span class="active-${id}"><i class="fa fa-check text-navy"></i> Đang hoạt động</span>` : `<span class="active-${id}"><em class="fa fa-lock text-navy"></em> Bị chặn</span>`;
                            return conntent;
                        }
                    },
                    {
                        "data": "createTime",
                        "mRender": function (time) {
                            var date = new Date(time);
                            var hr = date.getHours();
                            var min = date.getMinutes();
                            return date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear() + ' ' + hr + ':' + min;
                        }
                    },
                    {
                        "data": "isActive",
                        "mRender": function (active, type, obj) {
                            var id = obj.recipeReportedId;
                            var action = active ? `<span class="icon-action-${id}"><a onclick="blockRecipeFunction(${id})"><em class="fa fa-lock" title="Chặn bài viết"></em><a></span>` : `<span class="icon-action icon-action-${id} center"><a onclick="unblockRecipeFunction(${id})"><em class="fa fa-unlock" title="Bỏ chặn bài viết"></em></a></span>`;
                            return action;
                        }
                    }
                ],
                pageLength: 25,
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },
                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');
                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ],
            });
        })();
        function blockRecipeFunction(recipeReportedId) {
            swal({
                title: "Bạn muốn chặn?",
                text: "Sau khi chặn, bài viết này sẽ không được hiển thị trên trang web nữa!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDeactivate) => {
                    if (willDeactivate) {
                        blockRecipe(recipeReportedId);
                    } else {
                        //do nothing
                    }
                });
        }
        function unblockRecipeFunction(recipeReportedId) {
            blockRecipe(recipeReportedId);
        }
        const blockRecipe = async (id) => {
            var res = await fetch(`${BASE_API_URL}/${RECIPE_API_URL}/deactivate-recipe?reportedRecipe=${id}`, {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                }
            });
            var data = await res.json();
            
            var iconAction = data.isActive ? `<a onclick="blockRecipeFunction(${id})"><em class="fa fa-lock" title="Chặn bài viết này"></em><a>` : `<a onclick="unblockRecipeFunction(${id})"><em class="fa fa-unlock" title="Bỏ chăn bài viết này"></em></a>`;
            var active = data.isActive ? `<i class="fa fa-check text-navy"></i> Đang hoạt động` : `<em class="fa fa-lock text-navy"></em> Bị chặn`;
            if (data.isActive) {
                //bỏ chặn công thức
                $(`.active-${id}`).html(active);
                $(`.icon-action-${id}`).html(iconAction);
            } else if (!data.isActive) {
                console.log('active: ' + active);
                $(`.icon-action-${id}`).html(iconAction);
                $(`.active-${id}`).html(active);
                console.log();
                swal("Bạn đã chặn thành công bài viết này!", {
                    icon: "success",
                });
            } else {
                swal("Bạn không thể chặn bài viết này!", {
                   icon: "error",
                });
            }
        };
    </script>
}