<!DOCTYPE html>
<html>

<!-- Mirrored from templates.majesticthemes.com/recipepress/recipe-listing.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 16 Jan 2019 05:10:26 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Food & Health</title>
    <!--google fonts-->
    <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!--jquery ui stylesheet-->
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">
    <!-- site favicon -->
    <link rel="icon" href="/recipepress/images/favicon.png" />

    <!--selectric stylesheet-->
    <link rel="stylesheet" href="/recipepress/css/selectric.css" />
    <!--font awesome stylesheet-->
    <link rel="stylesheet" href="/recipepress/css/font-awesome.min.css" />
    <!--swipe box stylesheet-->
    <link rel="stylesheet" href="/recipepress/css/swipebox.css" />
    <!-- mean menu stylesheet-->
    <link rel="stylesheet" href="/recipepress/css/meanmenu.css" />
    <!--slick slider stylesheet-->
    <link rel="stylesheet" href="/recipepress/css/slick.css" />
    <link rel="stylesheet" href="/recipepress/css/slick-theme.css" />
    <!--bootstrap stylesheets-->
    <link rel="stylesheet" href="/recipepress/css/bootstrap.css" />
    <link rel="stylesheet" href="/recipepress/css/bootstrap-theme.css" />
    @RenderSection("PrefixStyleOptional", required: false)

    <!--animate stylesheet-->
    <link rel="stylesheet" href="/recipepress/css/animate.css" />
    <!--main stylesheet-->
    <link rel="stylesheet" href="/recipepress/css/main.css" />
    <link rel="stylesheet" href="~/css/daterangepicker.css" />
    <link rel="stylesheet" href="~/recipepress/css/custom.css" />
    <link rel="stylesheet" href="~/recipepress/css/rankuser.css" />

    @RenderSection("StyleOptional", required: false)

</head>
<body>
    <!--pre-loader-->
    <div id="loading-box">
        <div class="lds-svg ng-scope">
            <svg class="lds-message gif" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" style="background: none;">
                <g transform="translate(25 50)">
                    <circle cx="0" cy="0" r="8" fill="#70bf4f" transform="scale(0.0963003 0.0963003)">
                        <animateTransform attributeName="transform" type="scale" begin="-0.5s" calcMode="spline" keySplines="0.3 0 0.7 1;0.3 0 0.7 1" values="0;1;0" keyTimes="0;0.5;1" dur="1.5s" repeatCount="indefinite"></animateTransform>
                    </circle>
                </g>
                <g transform="translate(50 50)">
                    <circle cx="0" cy="0" r="8" fill="#70bf4f" transform="scale(0.0687796 0.0687796)">
                        <animateTransform attributeName="transform" type="scale" begin="-0.25s" calcMode="spline" keySplines="0.3 0 0.7 1;0.3 0 0.7 1" values="0;1;0" keyTimes="0;0.5;1" dur="1.5s" repeatCount="indefinite"></animateTransform>
                    </circle>
                </g>
                <g transform="translate(75 50)">
                    <circle cx="0" cy="0" r="8" fill="#70bf4f" transform="scale(0.476586 0.476586)">
                        <animateTransform attributeName="transform" type="scale" begin="0s" calcMode="spline" keySplines="0.3 0 0.7 1;0.3 0 0.7 1" values="0;1;0" keyTimes="0;0.5;1" dur="1.5s" repeatCount="indefinite"></animateTransform>
                    </circle>
                </g>
            </svg>
        </div><div class="lds-css ng-scope">
            <div class="lds-message" style="width:100%;height:100%"> <div></div><div></div><div></div> </div>
        </div>
    </div>
    <div class="preloader">
        <div class="loadr">
            <svg viewbox="0 0 74.6 81">
                <path d="M67.8,12.9C51.7,5.2,26.2,0.2,26.2,0.2c-10.9-1.8-9.3,11.4-9,20.2c0,0.7,0.1,1.4,0.1,2c7.8,1.5,19.7,4,29.2,7.4c11.4,4.1,9.6,8.3,9.2,16c-0.2,4.9-0.4,14,1.1,21.3c7.7,1.4,13.8,1.9,13.1-0.3c-6.3-7.2-0.1-29.6,1.8-34.2C73.3,28.7,79.3,18.4,67.8,12.9z">      </path>
                <path d="M58.9,79.5c-6.5-5.6-6.2-23.6-5.8-31.3c0.4-7.7,2.1-11.9-9.2-16c-15.3-5.5-37.3-8.8-37.3-8.8c-9.1-1.1-6.6,8.4-5.5,15.1c1.7,10,5.4,22,7.9,27.8c2.8,6.5,8.9,7.3,8.9,7.3S65.4,85.1,58.9,79.5z"></path>
            </svg>
        </div>
    </div>
    <!--pre-loader ends-->
    <!--header-->
    <header>
        <div class="header header-var1 fade-load-down">
            <div class="responsive-menu"></div>
            <div class="nav-var1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">

                            <div class="left-nav">
                                <nav class="nav-collapse">
                                    <ul class="main-menu left">
                                        <li>
                                            <a href="/Index">Trang chủ</a>

                                        </li>
                                        <li>
                                            <a href="/Recipe">Công thức</a>

                                        </li>
                                        <li>
                                            <a href="/Newsfeed">Cộng đồng</a>
                                        </li>
                                        <li><a href="/TopUsers">Top Thành viên</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="logo-wrapper">
                                <a href="/index"><img src="/recipepress/images/logo.png" alt="logo" /></a>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="right-nav">
                                <div class="wrapper-links">
                                    <ul class="header-social-icons">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>

                                    </ul>
                                    <div class="noti-message-icon" style="display:none;">
                                        <div class="soundDiv" hidden>
                                            <audio id="myAudio">
                                                <source src="~/recipepress/audio/notitficationSound.mp3" type="audio/mpeg">
                                                Your browser does not support the audio element.
                                            </audio>
                                        </div>
                                        <nav class="nav-collapse header-social-icons">
                                            <ul>
                                                <li>

                                                    <a href="#" onclick="changeStatusNoti()"><i class="fa fa-bell"></i></a>
                                                    <span style="
                                                          position: absolute;
                                                          top: 5px;
                                                          right: -4px;
                                                          padding: 0px 5px;
                                                          border-radius: 50%;
                                                          background-color: red;
                                                          color: white; font-size: 12px" id="number-of-notification"></span>
                                                    <ul id="list-notification" class="scroll-notification"></ul>
                                                </li>
                                                <li><a href="/MessageChat"><i class="fa fa-envelope"></i></a></li>
                                            </ul>
                                        </nav>
                                    </div>

                                    <span class="sign-in-buttons authorized-group" style="display: none;">

                                        <a class="information" href="/account/information" id="authorized-group-username">Username</a>
                                    </span>
                                    <span class="sign-in-buttons authorized-group" id="logoutBtn">
                                        <a class="login">Đăng xuất</a>
                                    </span>
                                    <span class="sign-in-buttons unauthorized-group">
                                        <a class="login" href="/login">Đăng nhập</a>
                                        <a class="register" href="/register">Đăng ký</a>
                                    </span>
                                </div>
                                <nav class="nav-collapse">
                                    <ul class="main-menu right">
                                        <li>
                                            <a href="blog.html">Blog</a>

                                        </li>
                                        <li><a href="/Collection">Bộ sưu tập</a></li>
                                        <li><a href="/contact">Chính sách</a></li>
                                        <li><a class="submit-recipe" href="/SubmitRecipe">Đăng công thức</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <!--header ends-->
    <!--banner-->
    <div class="banner banner-blog">
        <div class="container ">
            <div class="main-heading">
                <h1></h1>
            </div>

        </div>
    </div>
    <div class="advance-search">
        <!--advance search form-->
        <div class="container">
            <div class="wrapper-search">
                <div class="container-tags">
                    <span class="tag">
                        <span class="tag-inner">Tìm kiếm<i class="fa fa-angle-down"></i></span>
                    </span>
                </div>
                <div class="outer-advance-search">
                    <form id="advance-search">
                        <fieldset>
                            <div class="inner-advance-search" style="width: 50%">
                                <div id="custom-advance-search" class="form-field">
                                    <input id="custom-input-search" style="outline: none; border: 1px solid grey; font-size: 2rem; padding: 0px 10px; border-radius: 5px; " type="text" value="" />
                                    <div id="custom-quick-result"></div>
                                </div>
                                <button id="searchBtn" style="width: 100px; border-radius: 5px; height: 40px" type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <!--advance search form ends-->
    </div>
    @RenderBody()
    <!--banner ends-->
    <!--footer-->
    <div class="footer footer-variant-one footer-fluid">

        <div class="container">
            <div class="footer-inner">
                <div class="text-center">
                    <a class="logo-footer wow animated zoomIn" href="index.html"><img src="/recipepress/images/logo2.png" alt="Logo" /></a>
                    <p class="wow animated flipInX">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                        <br />
                        magna aliquyam erat, with an extra ordinary design and quality development features in low
                    </p>

                </div>

                <div class="subs-social-options">
                    <div class="row custom-row-footer">
                        <div class="col-md-6 custom-col-options">
                            <div class="left-side">
                                <div class="widget widget-footer news-letter-signup wow animated flipInY">
                                    <h2>Newsletter Signup</h2>

                                    <form class="subs-form" action="#" method="post">
                                        <div class="email-field">
                                            <input type="email" name="email" placeholder="Enter you email address" />
                                            <button><i class="fa fa-paper-plane-o"></i></button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="right-side">
                                <div class="widget widget-footer social-icons">
                                    <h2 class="wow animated fadeInRight">Get Social with Us</h2>
                                    <ul>
                                        <li class="wow animated bounceInRight"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li class="wow animated bounceInRight animation-delay100ms"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li class="wow animated bounceInRight animation-delay200ms"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li class="wow animated bounceInRight animation-delay300ms"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li class="wow animated bounceInRight animation-delay400ms"><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                                        <li class="wow animated bounceInRight animation-delay500ms"><a href="#"><i class="fa fa-flickr"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright text-center">
                    <p>&copy; Copyright 2015 All Rights Reserved by <a href="#">Majestic Themes</a></p>
                </div>
                <div class="corner-image wow animated fadeInRight">
                    <img src="/recipepress/images/footer-corner-image.jpg" alt="image" />
                </div>
            </div>
        </div>
    </div>

    <script src="/recipepress/js/jquery-1.11.3.min.js"></script>
    <script src="/recipepress/js/jquery-ui.js"></script>
    <script src="/recipepress/js/flexslider/jquery.flexslider-min.js"></script>
    <script src="/recipepress/js/slick.min.js"></script>
    <script src="/recipepress/js/jquery.meanmenu.js"></script>
    <script src="/recipepress/js/jquery.selectric.min.js"></script>
    <script src="/recipepress/js/wow.js"></script>
    <script src="/recipepress/js/jquery.form.js"></script>
    <script src="/recipepress/js/jquery.validate.min.js"></script>
    <script src="/recipepress/js/jquery.swipebox.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="/js/daterangepicker.min.js"></script>
    <script src="/recipepress/js/custom.js"></script>
    <script src="~/js/SearchPageResult.js"></script>

    <script src="https://www.gstatic.com/firebasejs/5.8.4/firebase.js"></script>
    <script type="text/javascript" src="~/js/Configuration.js"></script>
    <script src="~/recipepress/js/audio.min.js"></script>
    <script src="~/js/notification.js"></script>

    @RenderSection("Scripts", required: false)
    <script src="/js/site.js"></script>
    <script>
        audiojs.events.ready(function () {
            var as = audiojs.createAll();
        });
    </script>
    <script>
        $("#searchBtn").on("click", function (e) {
            e.preventDefault();
            var searchValue = $('#custom-input-search').val();
            fetch(`${BASE_API_URL}/api/recipe/read-recipename?recipeName=${searchValue}`,
                {
                    method: 'GET',
                    //headers: {
                    //      'Content-Type': 'application/json'
                    //  }
                })
                .then(res => res.json())
                .then(response => {
                    var searchValue = $('#custom-input-search').val();
                    var searchValueParam = encodeURIComponent(searchValue);
                    window.location.href = (`/RecipeSearch/${searchValueParam}`);
                    console.log(response);
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });

    </script>
</body>
</html >
