<!DOCTYPE html>
<html>

<!-- Mirrored from templates.majesticthemes.com/recipepress/recipe-listing.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 16 Jan 2019 05:10:26 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Food & Health</title>
    <!--google fonts-->
    <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!--jquery ui stylesheet-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">
    <!-- site favicon -->
    <link rel="icon" href="/recipepress/images/favicon.png" />

    <!--selectric stylesheet-->
    <link rel="stylesheet" href="/recipepress/css/selectric.css" />
    <!--font awesome stylesheet-->
    <link rel="stylesheet" href="/recipepress/css/font-awesome.min.css" />
    <!--swipe box stylesheet-->
    <link rel="stylesheet" href="/recipepress/css/swipebox.css" />
    <!-- mean menu stylesheet-->
    <link rel="stylesheet" href="/recipepress/css/meanmenu.css" />
    <!--slick slider stylesheet-->
    <link rel="stylesheet" href="/recipepress/css/slick.css" />
    <link rel="stylesheet" href="/recipepress/css/slick-theme.css" />
    <!--bootstrap stylesheets-->
    <link rel="stylesheet" href="/recipepress/css/bootstrap.css" />
    <link rel="stylesheet" href="/recipepress/css/bootstrap-theme.css" />
    <!--animate stylesheet-->
    <link rel="stylesheet" href="/recipepress/css/animate.css" />
    <!--main stylesheet-->
    <link rel="stylesheet" href="/recipepress/css/main.css" />
    <link rel="stylesheet" href="~/css/daterangepicker.css" />
    <link rel="stylesheet" href="~/recipepress/css/custom.css" />
    @RenderSection("StyleOptional", required: false)

</head>
<body>
    <div class="header">
        <div class="logo-wrapper">
             <a href="/Index" class="href-homepage"><img src="/recipepress/images/logo.png" alt="logo"></a>
        </div>
    </div>
    @RenderBody()

    <script src="/recipepress/js/jquery-1.11.3.min.js"></script>
    <script src="/recipepress/js/jquery-ui.js"></script>
    <script src="/recipepress/js/flexslider/jquery.flexslider-min.js"></script>
    <script src="/recipepress/js/slick.min.js"></script>
    <script src="/recipepress/js/jquery.meanmenu.js"></script>
    <script src="/recipepress/js/jquery.selectric.min.js"></script>
    <script src="/recipepress/js/wow.js"></script>
    <script src="/recipepress/js/jquery.form.js"></script>
    <script src="/recipepress/js/jquery.validate.min.js"></script>
    <script src="/recipepress/js/jquery.swipebox.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="/js/daterangepicker.min.js"></script>
    <script src="/recipepress/js/custom.js"></script>

    <script src="https://www.gstatic.com/firebasejs/5.8.4/firebase.js"></script>
    <script type="text/javascript" src="~/js/Configuration.js"></script>
    @RenderSection("Scripts", required: false)

</body>
<!-- Mirrored from templates.majesticthemes.com/recipepress/recipe-listing.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 16 Jan 2019 05:10:38 GMT -->
</html>