USE [CookyDemo]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 3/25/2019 11:23:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Price] [nvarchar](50) NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[BrandId] [int] NULL,
 CONSTRAINT [PK_Ingredients] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Store]    Script Date: 3/25/2019 11:23:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Store](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[BrandId] [int] NULL,
	[Lat] [float] NULL,
	[Long] [float] NULL,
 CONSTRAINT [PK_Store] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StoreBrand]    Script Date: 3/25/2019 11:23:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoreBrand](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Description] [nvarchar](50) NULL,
	[Website] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
 CONSTRAINT [PK_StoreBrand] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Name], [Price], [ImageUrl], [BrandId]) VALUES (1, N'Gạo Nếp Thái Nguyên', N'10000', NULL, 1)
INSERT [dbo].[Products] ([Id], [Name], [Price], [ImageUrl], [BrandId]) VALUES (2, N'Gạo Nếp', N'10000', NULL, 1)
INSERT [dbo].[Products] ([Id], [Name], [Price], [ImageUrl], [BrandId]) VALUES (51, NULL, NULL, NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[Products] OFF
SET IDENTITY_INSERT [dbo].[Store] ON 

INSERT [dbo].[Store] ([Id], [Name], [Address], [BrandId], [Lat], [Long]) VALUES (437, N'SIÊU THỊ BÁCH HÓA XANH 85A MAN THIỆN TẠI TP.HỒ CHÍ MINH', N'85A Man Thiện, P. Hiệp Phú, Q.9 (Cách Học Viện Công Nghệ Bưu Chính Viễn Thông 100m)', 1, 10.848984, 106.7974161)
INSERT [dbo].[Store] ([Id], [Name], [Address], [BrandId], [Lat], [Long]) VALUES (438, N'SIÊU THỊ BÁCH HÓA XANH 7 NGÔ QUYỀN TẠI TP.HỒ CHÍ MINH', N'7 Ngô Quyền, Khu Phố 2, P. Hiệp Phú, Q. 9 (Đối diện chợ Kiến Thiết)', 1, 10.8451269, 106.7748758)
INSERT [dbo].[Store] ([Id], [Name], [Address], [BrandId], [Lat], [Long]) VALUES (439, N'SIÊU THỊ BÁCH HÓA XANH 25 NGUYỄN KHOÁI TẠI TP.HỒ CHÍ MINH', N'25 Nguyễn Khoái, P. 4, Q. 4 (Cách ngã ba chợ Tôn Thất Thuyết - Nguyễn Khoái 100m)', 1, 10.753883, 106.6950307)
GO
SET IDENTITY_INSERT [dbo].[Store] OFF
SET IDENTITY_INSERT [dbo].[StoreBrand] ON 

INSERT [dbo].[StoreBrand] ([id], [Name], [Description], [Website], [Phone]) VALUES (1, N'Bách Hóa Xanh', NULL, NULL, NULL)
INSERT [dbo].[StoreBrand] ([id], [Name], [Description], [Website], [Phone]) VALUES (2, N'Coop Mart', NULL, NULL, NULL)
INSERT [dbo].[StoreBrand] ([id], [Name], [Description], [Website], [Phone]) VALUES (3, N'Aeon Mall', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[StoreBrand] OFF
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Ingredients_StoreBrand] FOREIGN KEY([BrandId])
REFERENCES [dbo].[StoreBrand] ([id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Ingredients_StoreBrand]
GO
ALTER TABLE [dbo].[Store]  WITH CHECK ADD  CONSTRAINT [FK_Store_StoreBrand] FOREIGN KEY([BrandId])
REFERENCES [dbo].[StoreBrand] ([id])
GO
ALTER TABLE [dbo].[Store] CHECK CONSTRAINT [FK_Store_StoreBrand]
GO
