body{
    overflow-y: hidden;
}

.header{
    padding: 10px;
    height: 64px;
}

.header .logo-wrapper img {
    height: 50px;
    width: auto;
}

.forum-home-body{
    padding: 0!important;
    height: calc(100vh - 78px);
}

.forum-home-body .container{
    width: 100%!important;
    height: 100%;
}

.forum-home-body .row{
    padding-top: 10px;
    padding-bottom: 10px;
}

.forum-home-body .msg-list{
    height: 90%;
}

.search__container{
    padding: 5px;
}

.search-bar {
    background: none !important;
    width: 100%;
    border-radius: 20px;
    border: 1px solid gray;
    padding: 10px;
}

.search-bar:focus{
    outline: none;
}

.right-chat, .left-chat {
    padding-bottom: 0;
    height: calc(100vh - 100px);
}

.right-chat .inbox_chat{
    height: 100%;
    overflow-y: auto;
}

.main--content-inner{
    height: 100%;
}

.main--content-inner .mesgs {
    height: 100%;
}

.main--content-inner .msg_history{
    height: 82%;
    margin-bottom: 0;
    overflow-y: visible;
}

.main--content-inner .msg_history .msg-list{
    padding-bottom: 50px;
}

.main--content-inner .msg_history .msg_typing{
    position: fixed;
    padding-bottom: 10px;
}

.not-seen .name-user, .not-seen .chat-message-wrap {
    font-weight: 1000;
    color: black;
}

.not-seen .date {
    color: #0084FF;
}