.fade{
    display: none;
}

.fade.in {
    display: block;
}

.ingredient-handler-list {
    border-right: 1px solid #e4d9d1 !important;
}

.ingredient-quantity {
    width: 60px;
    flex: inherit !important;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}

.ingredient-weight {
    margin-right: 5px;
    border: 1px solid #e4d9d1;
    text-align: center;
    width: 45px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.category-main {
    display: block;
}

.category-main-name {
    display: block;
}

.category-item-name{
    display: inline-block;
}

.category-item-name::after{
    background: none;
}

.add-recipe-steps, .add-ingredient {
    float: right;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 45px;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    transition: 0.2s all ease-in-out;
    cursor: pointer;
    background: #6ebe3b;
}

.add-recipe-steps:hover, .add-ingredient:hover{
    background: #000000;
}